.sectionBottom {
  padding: 26px 12px 17px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 142px;
  justify-content: center;

  &_title {
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;

    &_main {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      line-height: 26.4px;

      &_isLaunch {
        text-align: center;
        padding: 0;
        @include is-pc {
          padding: 0 40px;
          padding-bottom: 24px;
        }
      }
      &_isYourChain {
        text-align: left;
        padding: 0;
        color: #000;
      }

      @include is-tablet {
        font-size: 16px;
      }

      @include is-mobile {
        font-size: 14px;
        line-height: 19.8px;
      }
    }

    &_sub {
      line-height: 25.2px;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);

      @include is-tablet {
        font-size: 16px;
      }

      @include is-mobile {
        font-size: 14px;
        line-height: 19.6px;
      }
    }
  }
  &_yourChain_desc {
    color: #000000b2;
    font-weight: 400;
    font-size: 14px;
  }
  &_listInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__left {
        display: flex;
        flex-direction: row;
        gap: 12px;

        &_text {
          font-size: 14px;
          line-height: 25.2px;
          color: rgba(255, 255, 255, 0.7);
          white-space: nowrap;
          @include is-tablet {
            font-size: 12px;
          }

          @include is-mobile {
            font-size: 10px;
            line-height: 19.6px;
          }
        }
      }

      &__right {
        font-size: 14px;
        line-height: 25.2px;
        font-weight: 400;
        white-space: nowrap;

        @include is-mobile {
          font-size: 12px;
          line-height: 19.6px;
        }

        @include is-tablet {
          font-size: 10px;
        }
      }
    }
  }

  &__007659 {
    background: #007659;
  }

  &__A05700 {
    background: #a05700;
  }

  &__0074BB {
    background: #0074bb;
  }

  &__EBEFF7 {
    background: #ebeff7;
  }

  &__303030 {
    background: #303030;
  }

  &__7D8AA7 {
    background: #7d8aa7;
  }
  &__FFFFFF {
    background: #fff;
  }
  &__B74D4D {
    background: #b74d4d;
  }
  &__A459A6 {
    background: #a459a6;
  }
}
