.simpleContent {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: rem(34px);
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: rem(40px);
  font-family: 'Urbanist';

  &_image {
    width: 100%;
    max-width: 70%;
    max-width: rem(400px);
    height: auto;
    height: 100%;
    position: relative;
    aspect-ratio: 1;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &_inner {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  &_wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
  }

  &_title {
    font-family: 'Space Mono';
    font-size: rem(20px);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: rem(12px);
    position: relative;
    min-height: 31px;
    width: 100%;

    &_inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &_content {
    line-height: rem(24px);
    margin-bottom: rem(12px);
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: rem(100px);

    @include is-pc {
      min-height: rem(224px);
    }

    &_inner {
      font-size: rem(20px);
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &_button {
    max-width: rem(173px);
    height: rem(54px);
    position: relative;

    //hide
    visibility: hidden;
    opacity: 0;

    &_inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // &.active {
  //   display: flex;
  // }

  @include is-mobile {
    &_title {
      min-height: rem(70px);
    }
  }

  @include is-pc {
    gap: rem(68px);
    flex-direction: row;
    height: 100%;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;

    &_image {
      max-width: rem(400px);
      width: 100%;

      @include is-pc {
        position: relative;
      }

      &_inner {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include is-pc {
          position: absolute;
        }
      }
    }

    &_wrap {
      height: 100%;
      max-width: rem(574px);
    }

    &_title {
      margin-bottom: 0;
      font-size: rem(24px);
    }

    &_content {
      margin-bottom: 0;
      font-size: rem(16px);
      line-height: rem(32px);
      position: relative;
    }
  }
}
