.wrapper {
  height: auto;
  &_banner {
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
    @include is-pc {
      height: auto;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #f85c01;
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #0d87ff;
      z-index: -1;
    }
    img {
      width: 100%;
      height:  100%;
      object-fit: cover;
      @include is-pc {
        object-fit: contain;

      }
    }
  }
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  @include is-pc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_text {
    font-family: var(--font-jetbrains);
    font-size: 15px;
    font-weight: 500;
    line-height: (21 / 15);
    color: #fff;
  }
  svg {
    height: auto;
    width: 27px;
  }
  &_black {
    svg {
      path {
        fill: #000;
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  :global {
    .menu-item {
      padding: 6px 0;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

.itemLabel {
  color: #fff;
  font-family: var(--font-jetbrains);
  font-size: 14px;
  font-weight: 500;
  line-height: (20 / 14);
  text-align: center;
}

.activeDark {
  opacity: 0.7;
}

.activeLight {
  color: #86919e !important;
}

.icon {
  &_black {
    svg path {
      stroke: #000;
    }
  }

  &_white {
    svg path {
      stroke: #fff;
    }
  }
}
