.wrapper {
  position: relative;
  top: 76px;
  width: 100%;
  background-color: white;
  height: max-content;

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
  }
}

.inner {
  width: 100%;
  z-index: 222;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @include is-pc {
    min-width: 1159px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
