.container {
  padding: 40px 0;
  background: #FFF;

  .title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    font-family: "JetBrains Mono";
    color: #000;
  }

  .description {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    color: #000;
  }

  .content {

  }
}
