.chatbox {
  width: 500px;
  height: var(--height-studio);
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f6f6f6;
}

.chatboxInner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}

.title {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
}

.body {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;

  &_inner {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.chats {
  flex: 0 0 calc(var(--height-studio) - 313px);
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 80%;
  background-color: #ffffff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.user {
  align-self: flex-end;
  margin-left: auto;
  background-color: #eeeeee;
}

.bot {
  align-self: flex-start;
  background-color: #ffeee8;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  padding-top: 0px;

  &_heading {
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: black;
    margin-bottom: 8px;
  }
}

.inputWrapper {
  flex: 1;
  position: relative;
}

.inputField {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #dadada;
  border-radius: 8px;
  color: #333333;
  background-color: #ffffff;
  resize: none;
  outline: none;
  box-shadow: none;

  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.buttonWrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.voiceButton,
.sendButton {
  background: none;
  border: 1px solid #808080;
  border-radius: 100px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  color: #808080;
  transition: background-color 0.3s, color 0.3s;
  z-index: 10;
  height: 32px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #f0f0f0;
  }

  &:disabled {
    border-color: #e0e0e0;
    color: #e0e0e0;
    cursor: not-allowed;
  }
}

.inputOverlay {
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  text-align: left;
  pointer-events: none;
  color: #777777;

  strong {
    color: #fa4e0e;
    font-weight: initial;
  }
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #e0e0e0;
}

.statusButtons {
  position: relative;
}
