.wrap {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  width: 100%;
  max-width: 300px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //@include is-tablet {
  //  max-width: unset;
  //  width: 560px;
  //}
  //@include is-pc {
  //  max-width: unset;
  //  width: 798px;
  //}
  @include is-pc {
    max-width: 210px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.headingText {
  font-size: 40px;
  color: #000;
  font-weight: 500;
  text-align: start;
  line-height: calc(60 / 40);
  font-family: var(--font-jetbrains);
  margin: 15px 0;
  @include is-pc {
    font-size: 48px;
    margin: 0;
    line-height: calc(72 / 48);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 24px;
  &_icon {
    width: 54px;
    height: 54px;
  }
}
