.lego {
  position: relative;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  min-width: 60px;
  width: max-content;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  * {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: calc(28 / 16);
  }

  svg path {
    stroke-width: 2px;
    stroke: var(--border-color);
    fill: var(--background-color);
  }

  &__piece {
    position: absolute;
    left: 11px;

    &__top {
      top: -1.5px;
      svg path {
        fill: #ffffff !important;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2.4px);
        height: 1px;
        background-color: #ffffff;
        border-radius: 99999px;
      }
    }

    &__bottom {
      bottom: 0;
      transform: translateY(calc(100%));
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-0.5px);
        width: calc(100% - 2px);
        height: 1px;
        background-color: var(--background-color);
        border-radius: 99999px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;

    &__label {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__disabled {
    opacity: 0.4;
    pointer-events: none !important;
    cursor: not-allowed !important;
  }

  &__preview {
    .lego__inner {
      flex-direction: row;

      .lego__inner__label {
        p {
          //         font-size: 14px;
          // font-weight: 500;
          // line-height: calc(28 / 14);
          // font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        }
      }
    }
  }
}

.label_margin {
  margin-top: -15px;
}

.titleSingle {
  width: max-content;
  padding-top: 0.15em;
  display: block;
  // font-size: 14px;
  // font-weight: 500;
  // line-height: calc(28 / 14);
}

.label {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}

.lego__piece__top__ai {
  top: -1px;
  svg path {
    fill: #ffeee8 !important;
  }
  &::after {
    background-color: #ffeee8;
  }
}
