.dropMenu {
  position: relative;
  color: white;

  &_label {
    display: flex;
    gap: 5px;
    color: #fff;

    line-height: (20 / 14);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: var(--chakra-space-2);

    @include is-pc {
      padding: 0;
      font-size: 14px;
      font-family: var(--font-jetbrains);
      font-weight: 500;
    }

    &.black {
      color: black;

      svg path {
        stroke: black !important;
      }
    }

    img,
    svg {
      transform: translateY(0.05em);
    }
  }

  .dropMenu_list {
    box-shadow: none;
    border: none;
    border-radius: 0;


    @include is-pc {
      padding-top: 6px;
      top: 100%;
    }

    &_inner {
      background: white;
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      min-height: 100svh;

      @include is-pc {
        min-height: auto;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .dropMenu_list {
        opacity: 1;
        visibility: visible;
        z-index: 2 !important;
      }
    }
  }


  &_list {
    opacity: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    visibility: hidden;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100svh;

    @media (any-hover: none) {
      &.isOpen {
        opacity: 1;
        visibility: visible;
        z-index: 2 !important;
      }
    }

    @include is-pc {
      width: max-content;
      position: absolute;
      overflow: hidden;
      height: auto;
      left: -120px;
    }
  }
}
