.hero {
  position: relative !important;
  user-select: none;
  min-height: 100vh;
  background: #f9f9f9;
}

.inner {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  @include is-pc {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  :global {
    .imagePreload {
      width: 100%;
      margin-top: 80px;
      @include is-min-table {
        margin-top: 100px;
      }

      @include is-pc {
        margin-top: 0;
        width: auto;
      }
    }
  }
}

.imageHero {
  aspect-ratio: 694/579;
  object-fit: contain;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include is-min-table {
    max-width: 520px;
  }

  @include is-pc {
    max-width: unset;
    max-height: 579px;
    margin-left: 0;
    transform: translateY(8%);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topTitle {
  font-family: var(--font-SFProDisplay);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px;
  background: #ffffff;
  color: black;
  text-transform: uppercase;
  box-shadow: 0px 0px 12px -6px #fa4e0e1f;
  display: inline-block;
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1321px;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  padding-top: 28px;
  align-items: center;

  @include is-min-table {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @include is-pc {
    padding-bottom: 154px;
    padding-top: 216px;
    align-items: flex-start;
    max-width: 571px;
  }

  &_heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  &_sub {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 23px;
    svg {
      width: 32px;
      transform: translateY(-.1em);
      height: auto;
    }

    &_title {
      color: #fa4e0e;
      font-family: var(--font-JetBrainsMono);
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;

      @include is-min-table {
        font-size: 52px;
      }
    }
  }
}

.title {
  font-family: var(--font-JetBrainsMono);
  font-size: 52px;
  font-weight: 900;
  line-height: 120%;
  color: #fa4e0e;
  margin-bottom: 9px;
  display: flex;
  align-items: center;

  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-top: -0.1em;

    svg {
      height: auto;
      fill: #fa4e0e !important;
      width: 30px;
    }
  }
}

.subTitle {
  font-family: var(--font-JetBrainsMono);
  font-size: 28px;
  font-weight: 700;
  line-height: (38/32);
  text-align: center;
  margin-bottom: 18px;
  color: black;

  span{
    display: inline-block;
  }

  @include is-min-table {
    font-size: 34px;
    margin-bottom: 24px;
  }

  @include is-pc {
    text-align: left;
    font-size: 40px;
  }
}

.desc {
  font-family: var(--font-SFProDisplay);
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 170%;
  max-width: 520px;

  span{
    display: inline-block;
  }

  @include is-min-table {
    font-size: 18px;
  }

  @include is-pc {
    text-align: left;
    font-size: 20px;
    max-width: 640px;
  }

  p:not(:last-child) {
    margin-bottom: 18px;
  }
}

.groupBtn {
  display: flex;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: center;
  @include is-mobile {
    flex-direction: column;
    align-items: center;
  }
  @include is-pc {
    justify-content: flex-start;
  }
}

.btn {
  font-weight: 500;
  line-height: (20 / 18);
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-SFPro);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  @include is-min-table {
    font-size: 18px;
  }

  &__primary {
    color: #ffffff;
    background: #fa4e0e;
    width: 196px;
  }

  &__secondary {
    color: #fa4e0e;
    width: fit-content;
    padding: 0 20px;
    align-items: center;

    svg, img{
      transform: translateY(.1em);
    }
  }
}

.label {
  font-weight: 500;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;
  line-height: (20/14);
  color: black;
}

.read {
  font-family: var(--font-JetBrainsMono);
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  gap: 5px;
  color: black;
  margin-top: 24px;

  &:hover {
    text-decoration: underline;
  }

  svg {
    transform: translateY(-0.08em);
    display: inline-block;
  }
}

.pricing {
  white-space: nowrap;
  font-family: var(--font-SFPro);

  line-height: (40/32);
  font-weight: normal;
  display: flex;
  gap: 5px;
  align-items: center;
  color: black;
  // margin-right: 24px;
  font-size: 28px;

  small {
    font-size: 18px !important;
  }

  @include is-pc {
    margin-right: 40px;
    font-size: 32px;
    small {
      font-size: 20px !important;
    }
  }
}

.img_video {
  //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
