.hero {
  position: relative !important;
  user-select: none;
  min-height: 100vh;
  background: #F4F4F4;
  padding-bottom: 80px;
  padding-top: 80px;

}

.inner {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-top: 120px;
  @include is-pc {
    flex-direction: row;
    align-items: center;
    padding-top: vh(32px, 1440px);
    justify-content: space-between;
  }
}

.imagePreload {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  pointer-events: none;

}

.imagePreloadOverlay {
  content: "";
  position: absolute;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  z-index: 2;
}

.imageHero {
  aspect-ratio: 16/9;
  object-fit: contain;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
  overflow: hidden;


  &_bg {
    background: #000000;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2;

    > img, video {
      opacity: .8;
      height: 100% !important;
      width: 100% !important;
      object-fit: cover !important;
      max-height: unset;
      max-width: unset;
    }
  }


  video {
    width: 100% !important;
    object-fit: contain;
    overflow: hidden;
  }

  @include is-min-table {
    max-width: 782px;
  }

  @include is-pc {
    margin-top: 40px;
    margin-left: unset;
    margin-right: unset;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;

  img {
    opacity: .8;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topTitle {
  font-family: var(--font-SFProDisplay);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px;
  background: #ffffff;
  color: black;
  text-transform: uppercase;
  box-shadow: 0px 0px 12px -6px #fa4e0e1f;
  display: inline-block;
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1321px;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  padding-top: 28px;
  align-items: center;

  @include is-min-table {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @include is-pc {
    padding-bottom: 100px;
    padding-top: 180px;
    align-items: flex-start;
    max-width: 571px;
  }

  &_heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  &_sub {
    //display: flex;
    //flex-direction: row;
    //gap: 12px;
    //align-items: center;
    background: linear-gradient(90deg, rgba(0, 245, 160, 0.4) 0%, rgba(0, 217, 245, 0.4) 100%);

    border-radius: 100px;
    padding: 6px 16px;
    margin-bottom: 12px;

    p {
      font-weight: 500;
    color: black;
      //background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
      font-size: 18px;
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }

    svg {
      width: 32px;
      transform: translateY(-.1em);
      height: auto;
    }

    &_title {
      color: #fa4e0e;
      font-family: var(--font-JetBrainsMono);
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;

      @include is-min-table {
        font-size: 52px;
      }
    }
  }
}

.title {
  font-family: var(--font-JetBrainsMono);
  font-size: 52px;
  font-weight: 900;
  line-height: 120%;
  color: #fa4e0e;
  margin-bottom: 9px;
  display: flex;
  align-items: center;

  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-top: -0.1em;

    svg {
      height: auto;
      fill: #fa4e0e !important;
      width: 30px;
    }
  }
}

.subTitle {
  font-family: var(--font-JetBrainsMono);
  font-size: 28px;
  font-weight: 700;
  line-height: (38/32);
  text-align: center;
  margin-bottom: 18px;
  color: black;

  span {
    display: inline-block;
  }

  @include is-min-table {
    font-size: 34px;
    margin-bottom: 24px;
  }

  @include is-pc {
    text-align: left;
    font-size: 32px;
    line-height: (38/32);
  }
}

.desc {
  font-family: var(--font-SFProDisplay);
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  max-width: 520px;

  span {
    display: inline-block;
  }

  @include is-min-table {
    font-size: 18px;
  }

  @include is-pc {
    text-align: left;
    font-size: 20px;
    max-width: 640px;
  }

  p:not(:last-child) {
    margin-bottom: 18px;
  }
}

.groupBtn {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: center;
  @include is-mobile {
    flex-direction: column;
    align-items: center;
  }
  @include is-pc {
    justify-content: flex-start;
  }
}

.btn {
  font-weight: 500;
  line-height: (20 / 18);
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-SFPro);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  @include is-min-table {
    font-size: 18px;
  }

  &__primary {
    color: #ffffff;
    background: #fa4e0e;
    width: 213px;
  }

  &__secondary {
    color: #000000;
    width: 236px;
    border: 1px solid #000;
    //width: fit-content;
    padding: 0 20px;
    align-items: center;

    svg, img {
      transform: translateY(-.1em);
      @include is-min-table {
        transform: translateY(.1em);
      }
    }
  }
}

.label {
  font-weight: 500;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;
  line-height: (20/14);
  color: black;
}

.read {
  font-family: var(--font-JetBrainsMono);
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  gap: 5px;
  color: black;
  margin-top: 24px;

  &:hover {
    text-decoration: underline;
  }

  svg {
    transform: translateY(-0.08em);
    display: inline-block;
  }
}

.pricing {
  white-space: nowrap;
  font-family: var(--font-SFPro);

  line-height: (40/32);
  font-weight: normal;
  display: flex;
  gap: 5px;
  align-items: center;
  color: black;
  // margin-right: 24px;
  font-size: 28px;

  small {
    font-size: 18px !important;
  }

  @include is-pc {
    margin-right: 40px;
    font-size: 32px;
    small {
      font-size: 20px !important;
    }
  }
}

//.img_video {
//  display: flex;
//  justify-content: center;
//  cursor: pointer;
//  width: 100%;
//
//  @include is-pc {
//    width: fit-content;
//  }
//
//  img {
//    width: 500px;
//  }
//}
//
//.imageHero_img {
//  position: absolute;
//  z-index: 9999;
//}


.imageHero_btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  border-radius: 100px;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;

  align-items: center;
  width: fit-content;

  font-family: var(--font-SFProDisplay);

  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: black;
  font-size: 16px;
  height: 48px;

  padding-left: 14px;
  padding-right: 14px;

  @include is-min-table {
    height: 54px;
    font-size: 18px;
    padding-left: 32px;
    padding-right: 32px;
  }

}
