.container {
  .fontType2 {
    font-family: var(--font-SFProDisplay) !important;
  }

  .fontType3 {
    font-family: var(--font-dmsans) !important;
    font-weight: 500 !important;
    font-size: 18px;
  }

  .chains {
    box-shadow: 0px 0px 20px -6px #00000014;
  }
}
