.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  &_title {
    color: #000;
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
