.actions {
  padding: 8px;
  // background-color: #fff;
  // border-radius: 12px;
  flex-direction: row;
  gap: 10px;
  display: flex;
  height: fit-content;
  margin: 0 auto;
  // box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.08);

  @include is-mobile {
    margin: 0;
  }
  &_item {
    @include is-mobile {
      flex: 1;
    }
  }
  &_button {
    height: 50px;
    width: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 10px;
    // background-color: #fff;

    @include is-mobile {
      max-width: 204px;
      width: 100%;
    }
    h6 {
      color: #000;
      text-align: center;
      font-family: 'JetBrains Mono', monospace;
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;
      opacity: 0.5;
    }
  }
}
.active {
  // background-color: #000;
  border-bottom: 2px solid #000;
  h6 {
    font-weight: 700;
    opacity: 1;
  }
}
