.container {
  background: #0d0a04;
  padding: 80px 0;
}

.wrapper {
  // display: flex;
  // justify-content: center;
}

.nftContainer {
  padding: 32px;
  gap: 32px;
  cursor: grab;
  padding-left: 16px;
  .verticalLine {
    border-left: 2px dashed #fff;
    height: 250px;
    margin-top: -100px;
    padding-right: 16px;
  }
}
