.sectionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 48px;
  width: 100%;
  @include is-tablet {
    gap: 32px;
  }

  @include is-pc {
    flex-direction: row;
    padding-top: 48px;
    padding-bottom: 0;
    gap: 68px;
  }
}
