.sectionBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  gap: 32px;
  position: relative;
  z-index: 2;

  @include is-pc {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 0;
    gap: 24px;
  }
}
