.heading {
  font-family: var(--font-dmsans);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 60px;

  @include is-mobile {
    font-size: 32px;
    margin-bottom: 24px;
    text-align: left;
  }

  &__left {
    text-align: left;
  }
}
