.container {
  width: 100%;

  &:not(.isFooter) {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    @include is-min-table {
      padding: 30px 0;
    }
  }

  .countDown {
    &_wrapper {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      margin-top: 8px;
      justify-content: center;
    }

    img {
      margin-right: 8px;
    }

    &_title {
      color: rgba(255, 255, 255, 0.7);
    }

    &_time {
      width: fit-content;
      //text-transform: uppercase;
    }
  }

  &.isFooter {
    padding: 30px 0;
  }

  @include is-min-table {
    padding: 40px 0;
  }

  .content {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    @include is-pc {
      //justify-content: space-between;
      flex-direction: row;
    }
  }

  .titleWrapper {
    display: block;
    width: fit-content;
  }

  .title {

    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    background: -webkit-linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    background: -moz-linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;

    @include is-mobile {
      font-size: 10px;
    }
  }

  .desc {

    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 620px;

    @include is-mobile {
      font-size: 18px;
    }

    @include is-tablet {
      font-size: 20px;
    }

    @include is-pc {
      font-size: 36px;
    }

    span {
      color: #fa4e0e;
    }
  }

  .form {
    width: 100%;
  }

  .inputContainer {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #cecece;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    width: 371px;
  }

  .input {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    background-color: transparent;
    width: 100%;
    letter-spacing: 0.01em;
    text-align: center;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &::-ms-input-placeholder {
      /* Edge 12-18 */
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      outline: none;
    }
  }

  .button {
    height: 48px !important;
    border-radius: 0px !important;
    background: #fa4e0e !important;
    color: #fff !important;
    width: 200px !important;
    font-weight: normal !important;
    font-size: 16px;
    line-height: 1.3;
  }

  .buttonBuild {
    height: 48px !important;
    border-radius: 0px !important;
    background: #FFFFFF !important;
    color: #000000 !important;
    width: 200px !important;
    font-weight: normal !important;
    font-size: 16px;
    line-height: 1.3;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  // @include w-max(768px) {
  //   grid-template-columns: 1fr 1fr;
  // }

  // @include w-max(468px) {
  //   grid-template-columns: 1fr;
  // }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 0px;
    background-color: #1c1c1c;
    padding: 28px 32px;
    background-color: #1c1c1c;
    min-width: 380px;
    width: fit-content;

    @include w-max(768px) {
      min-width: 320px;
    }
  }

  .item_title {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .item_desc {
    text-align: center;
    font-size: 28px;
    margin-top: 12px;
    font-weight: 800;
    line-height: 30px;
  }

  .btn {
    height: 16px;
    opacity: 0.8;
    cursor: pointer;
  }
}

.whiteList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  justify-content: center;

  &_users {
    display: flex;
    flex-direction: row;

    &_avatar {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 999px;
      overflow: hidden;
      background-color: #fff;
      margin-left: -8px;

      img {
        width: 100%;
        height: 100%;
        padding: 1px;
        border-radius: 999px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }

  &_total {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
      color: #fff;
    }
  }
}

.countDown_wrapper {
  align-items: center;
  * {
    font-size: 14px !important;
    line-height: 1.4 !important;
    font-weight: 400 !important;
  }
}


.hero_inner__desktop {
  display: none;
  @include is-min-table {
    display: block;
  }

  :global {
    .heroLabel_inner {
      border-top: 1px solid #FFFFFF26;
      padding-top: 28px;
      margin-top: 28px;
    }
  }
}

.dropMenu {
  position: relative;
  color: white;

  &_label {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;

    &.black {
      color: black;

      svg path {
        stroke: black !important;
      }
    }

    img, svg {
      transform: translateY(.05em);
    }
  }

  &:hover {
    .dropMenu_list {
      opacity: 1;
      visibility: visible;
      z-index: 2 !important;
    }
  }

  &_list {
    opacity: 0;
    width: 240px;
    background: #f6f6f6;
    position: absolute;
    right: -100%;
    bottom: 0;
    list-style: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    visibility: hidden;

    @include is-mobile {
      bottom: 48px;
      right: 0;
    }
  }
}

.listItem {

  a {
    color: #000000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg * {
      transition: fill .4s var(--easeOutQuart);
    }

    &:hover {
      rect {
        fill: red;
      }

      path {
        fill: white
      }
    }
  }
}

