.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #0000004D;
  --container-padding: 0px 32px;

  @include w-min(1920px) {
    --container-padding: 0px 32px;
  }
}

.contentTop{
  background-color: #000000;
  padding-bottom: 50px;
}
