.container {
  padding: 20px;

  sup {
    font-size: 12px;
    color: #ff0000;
    margin-top: 16px;
  }

  &__header {
    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  &__body {
    width: 100%;

    &__header {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}
