.ecosystem {
  padding: 140px 0;
  background: #eee;
  &_heading {
    &_title {
      color: #000;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      span {
        color: #fa4e0e;
      }
    }

    &_description {
      max-width: 850px;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }
  }

  &_content {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 36px;
  }
}
