.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 64px;
  width: 100%;
  max-width: 778px;
  margin: 0 auto;

  @include w-max(768px) {
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
  }

  .fundValue {
    font-size: 72px;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8px;
  }

  .boxInfo {
    margin-top: 32px;
    margin-bottom: 16px;
    > div {
      border: 1px solid #434343;
      background: rgba(255, 255, 255, 0.05);
      padding: 16px 20px;
    }
  }

  .time {
    justify-content: flex-start;
    p {
      font-size: 22px;
      font-weight: 500;
      line-height: var(--chakra-lineHeights-base);
    }
  }

  .boost {
    background: -webkit-linear-gradient(90deg, #FFFFFF 0%, #35CCA6 100%);
    background: -moz-linear-gradient(90deg, #FFFFFF 0%, #35CCA6 100%);
    background: linear-gradient(90deg, #FFFFFF 0%, #35CCA6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .youGet {
    background: -webkit-linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    background: -moz-linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .price {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include is-mobile {
      font-size: 24px;
    }
  }

  .launchText {
    font-size: 36px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;

    @include is-mobile {
      font-size: 24px;
    }
  }

  .textCountdown {
    @include is-mobile {
      > div {
        gap: 24px;

        > div {
          p:first-child {
            font-size: 56px;
          }

          p:last-child {
            font-size: 16px;
          }
        }
      }
    }
  }

  .desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 16px;
    text-align: center;

    @include is-mobile {
      font-size: 16px;
    }

    span {
      color: #FA4E0E;
    }
  }

  .form {
    width: 100%;
  }

  .inputContainer {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid #CECECE;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .input {
    height: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    background-color: transparent;
    width: 100%;
    letter-spacing: 0.01em;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &::-ms-input-placeholder { /* Edge 12-18 */
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      outline: none;
    }
  }

  .button {
    height: 48px !important;
    padding: 8px 60px !important;
    border-radius: 0px !important;
    background: #FA4E0E !important;
    color: #fff !important;
    width: 100%;
    font-weight: normal !important;
  }

  .depositValue {
    font-size: 24px;
    font-weight: 500;
  }
}
