.wrapper {
  // position: relative;
  border-radius: 24px;
  overflow: hidden;
  min-height: 289px;
  z-index: 2;
  cursor: pointer;
  display: block;

  @include is-mobile {
    min-height: 194px;
  }

  &_color {
    background-color: #f0f1f4;
    min-height: auto;
  }

  &_image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover .inner_topSection_button {
    background-color: #fa4e0e;
    transition: background-color 0.3s var(--easeOutQuart);

    svg path {
      transition: all 0.3s var(--easeOutQuart);
      stroke: #fff;
    }
  }

  .inner {
    padding: 16px;
    // position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include is-mobile {
      gap: 32px;
    }

    &_topSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 69px;

      @include is-mobile {
        margin-bottom: 0;
      }

      &_subTitle {
        border-radius: 20px;
        padding: 12px 28px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @include is-mobile {
          padding: 10px 20px;
        }

        &__modules {
          background-color: #fff;
        }

        &__solutions {
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(4px);
        }

        &_text {
          color: #fff;
          text-align: center;
          font-family: var(--font-hind);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 1;

          @include is-mobile {
            font-size: 12px;
            line-height: 1;
          }

          &__7E7CFF {
            color: #7e7cff;
          }

          &__FE6420 {
            color: #fe6420;
          }

          &__66BCFF {
            color: #66bcff;
          }

          &__7EBD4E {
            color: #7ebd4e;
          }

          &__7E7CFF {
            color: #7e7cff;
          }

          &__FF0420 {
            color: #ff0420;
          }

          &__FF7E21 {
            color: #ff7e21;
          }
        }
      }

      &_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 999px;
        cursor: pointer;
        transition: background-color 0.3s var(--easeOutQuart);
        width: 40px;
        height: 40px;
        @include is-mobile {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.tags {
  display: flex;
  gap: 8px;
}
