.wrapper {
  // position: relative;
  border-radius: 16px;
  overflow: hidden;
  min-height: 289px;
  z-index: 2;
  cursor: pointer;
  display: block;

  @include is-mobile {
    min-height: 194px;
  }

  &__modules {
    background-color: #ffffff1a;
    min-height: auto;
  }

  &__solutions {
    border-radius: 0;
  }

  &:hover .inner_topSection_button {
    @include is-pc {
      background-color: #fa4e0e;
      transition: background-color 0.3s var(--easeOutQuart);

      svg path {
        transition: all 0.3s var(--easeOutQuart);
        stroke: #fff;
      }
    }
  }

  .inner {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;

    &__modules {
      padding: 24px;
    }
    &__solutions {
      gap: 23px;
    }

    @include is-mobile {
      gap: 32px;
    }

    &_topSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 69px;
      position: relative;

      @include is-mobile {
        margin-bottom: 0;
      }
      &__modules {
        margin-bottom: 0;
      }
      &__solutions {
        width: 100%;
        aspect-ratio: 472 / 282;
        overflow: hidden;
        align-items: start;
        border-radius: 16px;
        margin-bottom: 0;

        .inner_topSection_content {
          padding: 16px;
        }
        &_wrapImg {
          position: absolute;
          width: 100%;
          height: 100%;
          &_img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
          }
        }
      }
      &_content {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      &_button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        cursor: pointer;
        transition: background-color 0.3s var(--easeOutQuart);
        width: 40px;
        height: 40px;
        @include is-mobile {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.tags {
  display: flex;
  gap: 8px;
}
