$time:10s; // including 1 flip

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.3s;
  position: relative;
  //cursor: pointer;
  width: 165px;
  //height: 99px;
  //padding: 6px;

  .title {
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #894D1C;
    padding-top: 1px;
  }

  .topWrapper {
    background: url('/public-sale/hourly_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 99px;
    padding: 6px;
  }

  .bottomWrapper {
    gap: 8px;
    align-items: center;
  }

  .icon {
    width: 40px;
    height: 40px;
    background: url('/public-sale/rwbn_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: flex-end;
  }

  .text_text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #894D1C;

    &.notBuy {
      text-align: center;
      line-height: 140%;
    }
  }

  .timeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //left: 0;
    //right: 0;
    //margin-left: auto;
    //margin-right: auto;
    width: 100%;
    //margin-bottom: 8px;
  }

  .rewardValue {
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(180deg, #DF7E2E -12.5%, #894D1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .time {
    //margin-top: 10px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    width: fit-content;
    color: #894D1C;
    p {
      font-size: inherit !important;
      font-weight: inherit !important;
      white-space: pre;
      color: inherit;
      background: #FBECC9;
      padding: 4px;
      min-width: unset;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5px;
      //> span {
      //  background: #FBECC9;
      //  padding: 4px;
      //}
    }

    > div {
      gap: 4px;
      align-items: center;
      > div {
        span {
          display: none;
        }
      }
    }

    //@include is-mobile {
    //  font-size: 14px;
    //}

    &.claimable {
      background: linear-gradient(180deg, #DF7E2E -12.5%, #894D1C 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  .hourglassWrapper {
    transform: scale(0.2);
    margin-top: 25px;

    @media screen and (min-width: 1920px) {
      transform: scale(0.15);
    }
  }

  .buyWrapper {
    width: 100%;
    button {
      padding: 8px 45px !important;
      height: 32px !important;
      font-size: 12px !important;
      font-weight: 400 !important;
    }
  }

  :global {
    .hourglass {
      animation:flip $time ease-in-out infinite;
      border-bottom:solid 1vmin #630;
      border-top:solid 1vmin #630;
      left:50%;
      margin-left:-6vmin;
      margin-top:-11vmin;
      padding:0 1vmin;
      position:fixed;
      top:50%;
      .top, .bottom {
        background-color:#def;
        box-shadow:0 0 1vmin 1vmin #bcd inset;
        height:10vmin;
        overflow:hidden;
        position:relative;
        width:10vmin;
      }
      .top {
        border-radius:0 0 50% 50%;
        &:before {
          animation:top $time linear infinite;
          background-color:#fc6;
          border-radius:50%;
          content:"";
          display:block;
          height:10vmin;
          left:0;
          position:absolute;
          top:0;
          transform:translateY(50%);
          width:10vmin;
        }
        &:after {
          animation:top-drip $time linear infinite;
          background-color:#fc6;
          content:"";
          display:block;
          height:100%;
          left:45%;
          position:absolute;
          top:0;
          transform:translateY(100%);
          width:10%;
        }
      }
      .bottom {
        border-radius:50% 50% 0 0;
        &:before {
          animation:bottom $time linear infinite;
          background-color:#fc6;
          border-radius:50%;
          content:"";
          display:block;
          height:10vmin;
          left:0;
          position:absolute;
          top:0;
          transform:translateY(100%);
          width:10vmin;
        }
        &:after {
          animation:bottom-drip $time linear infinite;
          background-color:#fc6;
          content:"";
          display:block;
          height:100%;
          left:45%;
          position:absolute;
          top:0;
          width:10%;
        }
      }
    }
  }

  :global {
    .chakra-popover__body {
      padding: 0;
      margin: 0 !important;
    }
  }
}

.learnMoreWrapper {
  background: #ffffff;
  padding: 4px 12px 4px 4px;
  color: #000000;
  font-size: 14px;
  align-items: center;
  //justify-content: center;
  height: 32px;
  gap: 8px;
  width: 100%;

  &.isDisable {
    opacity: 70%;
    cursor: not-allowed;
  }
}
