.wrapper {
  background-color: #f9f9f9;
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 75px;
  transform: translateY(-2px);
}

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_item {
    flex: 0 0 auto;
    height: auto;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;

    @include is-min-table {
      width: 33.333%;
    }

    @include is-pc {
      width: 20%;
    }
  }
}
