.wrapper {
  //background-color: #f9fF4F4F49f9;
  position: relative;
  z-index: 2;
  padding-top: 75px;
  padding-bottom: 75px;
  transform: translateY(-2px);
  @include is-pc {
    padding-top: 20px;
  }
}

.heading {
  font-family: var(--font-JetBrainsMono);
  font-weight: 500;
  line-height: calc(28/20);
  text-align: center;
  font-size: 20px;
  color: black;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 16px;

}

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  @include is-min-table {
    gap: 32px;
  }

  &_item {
    height: auto;
    align-items: center;

    &_img {
      max-width: 112px;
      object-fit: contain;
      height: auto;
    }

    &_text {
      font-family: var(--font-SFProDisplay);
      font-size: 18px;
      font-weight: 500;
      line-height: 25.2px;
      text-align: center;
      display: block;
      margin-top: 6px;
      color: black;
    }

    //@include is-pc {
    //  width: 20%;
    //}
  }
}
