.wrapper {
  background-color: #eeeeee;
  padding-bottom: 100px;
  .wrapperHeading {
    max-width: 1054px;
    padding: 98px 0 60px 0;
  }
  .container {
    max-width: 1600px;
    width: 100%;
  }

  .card:not(:first-child) {
    margin-top: 60px;
  }

  .card:nth-child(even) {
    flex-direction: column;

    @include is-pc {
      flex-direction: row-reverse;
    }
  }
}
