.wrapper {
  background-color: #eeeeee;
  .wrapperHeading {
    max-width: 1054px;
    padding: 98px 0 60px 0;
  }
  .container {
    max-width: 1420px;
    width: 100%;
  }
  .card:not(:first-child) {
    margin-top: 60px;
  }
  .card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
