.wrapper {
  background-color: #eeeeee;

  .container {
    max-width: 1420px;
    width: 100%;
  }

  .card:not(:first-child) {
    margin-top: 60px;
  }

  .card:nth-child(even) {
    flex-direction: column;

    @include is-pc {
      flex-direction: row-reverse;
    }
  }
}