.scalable {
  position: relative;
  height: 250vh;

  &_wrap {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;

    @include is-tablet {
      width: 100%;
      overflow: hidden;
    }
  }

  &_top {
    position: absolute;
    top: 6vh;
    z-index: 3;
    left: 0;
    width: 100%;

    &_inner {
      max-width: 985px;
      margin-left: auto;
      margin-right: auto;
      @include is-tablet {
        max-width: 520px;
      }
    }
  }

  &_heading {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 57.6px */
    margin-bottom: 16px;
  }

  &_content {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }

  &_bottom {
    display: flex;
    justify-content: center;
    gap: 120px;
    bottom: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    border-top: 1px solid rgba(white, 0.2);

    @include is-tablet {
      gap: unset;
    }
  }

  &_inner {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    @include is-tablet {
      width: 100%;
    }
  }
}

.target {
  height: 50vh;
}
