.hero {
  width: 100%;
  position: relative;

  @include is-pc {
    overflow: hidden;
    height: 100svh;
  }

  &_wrap {
    height: 100svh;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  @include is-mobile {
    width: auto;
  }

  @include is-tablet {
    width: 100%;
  }

  &_inner {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: none;

    @include is-pc {
      bottom: 240px;
      display: block;
    }
  }



}

.hero_wrap__mobile {
  background: white;

  @include is-pc {
    display: none;
  }
}

.banner_container {
  position: absolute;
  left: 0;
  //bottom: 0;
  // top: 80px;
  top: 0;
  width: 100%;

  @include is-pc {
    // top: 88px;
    //bottom: auto;
  }
}

.banner_wrapper {
  background: linear-gradient(90deg, #7f00ff 0%, #e100ff 100%);
  z-index: 100;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: (20 / 16);
  font-size: 12px;
  padding: 8px 16px;

  text-align: center;

  .text {
    transform: translateY(0.15em);
  }

  @include is-min-table {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 24px;
  }

  @include is-pc {
    text-align: left;
    font-size: 16px;
  }

  .banner_link {
    text-decoration: underline;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;

    @include is-min-table {
      margin-left: 8px;
    }

    @include is-pc {
      justify-content: flex-start;
    }
  }
}

.mouse_scroll {
  position: absolute;
  left: 50%;
  z-index: 999;
  bottom: 13%;



  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: sdb03 3s infinite;
      animation: sdb03 3s infinite;
      box-sizing: border-box;
    }
  }

  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes sdb03 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }


}

.mouse_scroll::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}