.section {
  padding: 60px 0;
  @include is-min-table {
    padding: 120px 0;
  }
}

.heading {
  font-family: var(--font-jetbrains);
}

.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  @include is-min-table {
    grid-template-columns: repeat(4, 1fr);
  }
  @include is-pc {
    margin-top: 80px;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 140px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.itemImage {
  width: 48px;
  height: 48px;
  @include is-min-table {
    width: 48px;
    height: 48px;
  }
}

.itemLabel {
  color: #989ab3;
  font-size: 14px;
  text-align: center;
  font-weight: 510;
  font-family: 'Helvetica Neue';
  @include is-min-table {
    font-size: 12px;
    line-height: calc(16.8 / 12);
  }
}
