.cardFiContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  
  .cardFiImage {
    padding: 20px 70px;

    img {
      width: 100%;
      height: auto;
    }

    @include min-md {
      padding: 20px 120px;
    }

    @include min-ml {
      img {
        width: 260px;
      }
    }
  }

  .cardFiContent {
    flex: 1;

    .cardFiContent_title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 12px;

      @include min-ml {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
      }
    }
  }

  @include min-ml {
    flex-direction: row;
    gap: 120px;
  }
}