.heroVideo {
  background: #FFFFFF;
  padding-top: var(--header-size);
  --header-size: 68px;
  @include min-tablet {
    --header-size: 97px;
  }

  &_inner {
    position: relative;
    height: calc(100vh - (var(--header-size) * 4));
    width: 100%;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: rgba(#000, .4);
    }

    &:before {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 57.6%, rgba(0, 0, 0, 0.8) 100%);
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      height: 100%;
      transform: scale(1.01);
      width: 100%;
      object-fit: cover;
    }
  }

  &_content {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-bottom: 40px;
  }
}

.content {

  &_sub {
    background: white;
    border-radius: 24px;
    width: fit-content;
    font-family: var(--font-SFProDisplay);

    font-weight: 500;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    text-align: left;
    padding: 6px 24px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;

    @include is-min-table{
      font-size: 16px;
      margin-left: unset;
      margin-right: unset;
      margin-bottom: 24px;
    }

    p {
      background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_heading {
    font-family: var(--font-SFProDisplay);
    font-weight: 600;
    line-height: calc(62 / 48);
    color: white;
    max-width: 720px;
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;

    @include is-min-table{
      font-size: 34px;
      text-align: left;
      margin-bottom: 32px;
    }
  }
}

.groupBtn {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: center;
  @include is-mobile {
    flex-direction: column;
    align-items: center;
  }
  @include is-pc {
    justify-content: flex-start;
  }
}

.btn {
  font-weight: 500;
  line-height: (20 / 18);
  border-radius: 1000px;
  cursor: pointer;
  font-family: var(--font-SFPro);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;

  --maskCenter: .15em;


  @include is-min-table {
    font-size: 16px;
  }

  &__primary {
    color: #ffffff;
    background: #fa4e0e;
    width: 213px;
    padding-top: var(--maskCenter);
  }

  &__secondary {
    color: #000000;
    background: white;
    width: 236px;
    border: 1px solid white;
    //width: fit-content;
    padding: 0 20px;
    align-items: center;
    padding-top: var(--maskCenter);

    svg, img {
      transform: translateY(-.1em);
      @include is-min-table {
        transform: translateY(.1em);
      }
    }
  }
}
