.wrapper {
  background-color: #ffd73b;
}

.content {
  padding: 150px 0;
  @include is-pc {
    padding: 200px 0;
  }
}

.title {
  color: #000;
  font-size: 60px;
  font-weight: 500;
  font-family: var(--font-jetbrains);
  line-height: calc(84 / 60);
  margin-bottom: 32px;
}

.desc {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(50 / 30);
  color: #000;
  @include is-pc {
    font-size: 40px;
    line-height: calc(60 / 40);
  }
}
