.wrapper {
    padding-top: 20px;
    width: 400px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

    &.eternal {
        background: #F8F8F8;

    }

    &.games {
        width: 440px;
    }

    &:not(.popular) {
        // margin-top: 40px;
        // margin-bottom: 18px;
    }

    @include is-mobile {
        width: 300px;
    }

    &:hover {

        transition: all .4s ease-in-out;

        .thumbnail {
            transform: scale(1.1);

        }
    }



    .info {
        padding: 12px 24px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .title {
            color: #C08600;
            font-family: "SF Pro Display";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 16.8px */
            text-transform: uppercase;

        }

        .desc {
            color: #000;
            font-family: "SF Pro Display";
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            /* 39.2px */

            &.game_desc {
                // max 2 lines 
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .tags {
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                color: #FFF;
                font-family: "SF Pro Display";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -1.8px;
                /* 21px */
                // border-radius: 100px;
                // background: rgba(255, 255, 255, 0.30);
                // padding: 4px 12px;
            }
        }
    }

    .thumbnail {
        // display: flex;
        // align-self: flex-end;
        transition: all 0.3s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.game_thumbnail {
            width: 60px;
            height: 60px;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }

    }

    &.popular {
        padding-top: 0;
        border: 4px #FFF solid;
        border-top: 0;
        background-color: #fff;



        .popular_tag {
            border-radius: 32px 32px 0px 0px;
            color: #000;
            text-align: center;
            font-family: "SF Pro Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;

            /* 19.2px */
            text-transform: uppercase;
            height: 40px;
            display: grid;
            place-items: center;


        }
    }

}