.wrapper {
  width: 100%;
  margin-top: 100px;
}

.inner {
  max-width: 747px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(21 / 14);
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 60px;
  line-height: calc(66 / 60);
  text-align: center;
  margin-top: 12px;
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  max-width: 650px;
  margin: 24px 0;
}

.link {
  background-color: rgba(250, 78, 14, 1);
  padding: 13px 24px;
  border-radius: 1000px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
}
