.container {
  position: absolute;
  flex-direction: column;
  top: var(--top-spacing);
  left: 20px;
  gap: 16px;
  min-width: 280px;
  max-width: 280px;
  border: 1px solid #ffffff1a;
  background-color: #ffffff1a;
  padding: 12px;

  .time {
    //margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    p {
      font-size: inherit !important;
      font-weight: inherit !important;
      white-space: pre;
    }

    @include is-mobile {
      font-size: 14px;
    }
  }

  @include is-mobile {
    max-width: unset;
    width: calc(100% - 50px);
  }
}
