.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 326px;

  &_number {
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 999px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    p {
      color: rgba(250, 78, 14, 1);
      font-size: 20px;
      font-weight: 500;
      //   padding: 11px 18px;
    }
  }

  &_title {
    padding-top: 12px;
    font-size: 20px;
    font-weight: 400;
    color: black;

    @include is-tablet {
      padding-top: 24px;
      font-size: 28px;
    }
    @include is-pc {
      padding-top: 24px;
      font-size: 28px;
    }
  }

  &_desc {
    padding-top: 8px;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    @include is-tablet {
      font-size: 17px;
      padding-top: 12px;
    }
    @include is-pc {
      font-size: 17px;
      padding-top: 12px;
    }
    b {
      color: rgba(0, 170, 108, 1);
      font-weight: 400;
    }
  }
  &_btn {
    padding-top: 24px;
  }
}
