.sidebar {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 1px solid #dadada;
  overflow: hidden;

  &_inner {
    display: flex;
    flex-direction: column;
  }
}

.item {
  background-color: #fff;
  padding: 12px 14px 8px 14px;

  &__isActive {
    background-color: #fff6f2 !important;
  }

  &_inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  &_icon {
    width: 24px;
    height: 24px;
  }
  &_title {
    color: #333;
    font-family: var(--font-JetBrainsMono);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(22 / 14);
  }
}
