.modalContent {
  flex-direction: column !important;

  padding: 20px 20px;

  background-color: #fff !important;
  max-width: 600px !important;
  min-height: 650px !important;
  font-family: var(--font-SFProDisplay);

  border-radius: 20px !important;
}
