.input {
  background-color: #ffffff;
  color: #000000;
  width: 200px;
  padding: 0 12px;
  border-radius: 99999px;
  outline: none;

  &::placeholder {
    color: #000000;
    opacity: 0.5;
  }

  &__disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
