.simpleMobile {
  display: flex;
  flex-direction: column;
  gap: rem(48px);
  font-family: 'Urbanist';

  &_item {
    display: flex;
    flex-direction: column;
    @include is-tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(32px);
    }
    &_content {
      @include is-tablet {
        width: 40%;
        position: relative;
      }
    }
    &_title {
      font-family: 'Space Mono';
      font-size: rem(16px);
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: rem(16px);
      width: 100%;
    }
    &_decs {
      font-size: rem(14px);
      width: 100%;
      max-width: rem(263px);
      margin-bottom: rem(37px);
    }
    &_image {
      width: 100%;
      aspect-ratio: 1;
      margin-bottom: rem(16px);

      @include is-tablet {
        width: 50%;
      }
    }
    &_button {
      max-width: rem(254px);
      margin: 0 auto;
    }
  }
}
