.itemHero {
  position: relative;

  &_inner {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    height: 80px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;

    @include is-min-table{
      width: 90px;
      padding-left: 0px;
      padding-right: 0px;
      aspect-ratio: 1;
      height: 80px;
    }

    @include is-mobile {
      //background-color: #f6f6f6;
      width: calc(33vw - 30px);
      align-items: center;
      aspect-ratio: 1;
    }

    @include is-tablet {
      //background-color: #f6f6f6;
      width: calc(33vw - 30px);
      align-items: center;
      aspect-ratio: 1;
    }
  }

  &_img {
    height: 40px;
    width: auto;
  }

  &_content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 8px;

    &_title {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      text-align: center;
      color: #000;

      @include is-mobile {
        color: #000;
      }
      @include is-tablet {
        color: #000;
      }
    }
  }
}
