.itemHero {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding-top: 20.85px;
  padding-bottom: 12.54px;

  @include is-mobile {
    background-color: #f6f6f6;
    width: calc(33vw - 30px);
    align-items: center;
    aspect-ratio: 1;
    flex-grow: 1;
  }
  &_img {
    height: 42px;
    width: auto;
  }
  &_content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 8px;

    &_title {
      font-size: 11.37px;
      line-height: 15.92px;
      font-weight: 400;
      text-align: center;
      color: #fff;

      @include is-mobile {
        color: #000;
      }
    }
  }
}
