.heroContent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  max-width: calc(814px + 120px);
  width: 100%;
  top: 100px;
  padding-left: 16px;
  padding-right: 16px;

  @include is-min-table {
    padding-left: rem(32px);
    padding-right: rem(32px);
    top: 124px;
  }

  &_content {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    text-align: center;

    @include is-tablet {
      font-size: 20px;
    }

    @include is-pc {
      font-size: 22px;
    }

  }

  &_inner {
    padding-bottom: 28px;
  }

  &_heading {

    font-weight: 500;
    line-height: (79/72);
    text-align: center;

    font-size: 34px;
    margin-bottom: 20px;
    color: white;

    @include is-min-table {
      font-size: 54px;
    }

    @include is-pc {
      font-size: 72px;
    }
  }

  &_actions {
    display: flex;
    gap: 16px;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: center;
    list-style: none !important;
    margin-top: rem(16px);

    @include is-pc{
      margin-top: rem(20px);
    }
  }
}

.btn {

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  line-height: (19/16);
  letter-spacing: 0.01em;
  text-align: center;
  transition: background-color .4s var(--easeOutQuart);
  font-size: 14px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  min-width: 172px;


  @include is-pc {
    font-size: 16px;
    padding-left: 28px;
    padding-right: 28px;
  }


  &__red {
    background: #FA4E0E;
    color: white;

    &:hover {
      background: #e64e0e;
    }
  }

  &__white {
    color: black;
    background: white;

    &:hover {
      background: #ebffff;
    }
  }
}

.dropMenu {
  position: relative;

  &_label {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
  }

  &:hover {
    .dropMenu_list {
      opacity: 1;
      visibility: visible;
      z-index: 2 !important;
    }
  }

  &_list {
    opacity: 0;
    width: 240px;
    background: #f6f6f6;
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    visibility: hidden;

    @include is-mobile {
      top: 100%;
      right: 0;
    }

    @include is-min-table {
      left: 0;
    }
  }
}

.listItem {

  a {
    color: #000000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg * {
      transition: fill .4s var(--easeOutQuart);
    }

    &:hover {
      rect {
        fill: red;
      }

      path {
        fill: white
      }
    }
  }
}
