.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 826px;
  box-shadow: 0px 0px 24px -6px #00000014;
  background: linear-gradient(180deg, #FDF6EA 0%, #FCF2DC 27%, #FBECC9 72.17%, #FBECC9 100%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);

  margin: 0 auto 42px;

  @include is-mobile {
    padding: 14px;
    margin-bottom: 24px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    width: 100%;

    background: linear-gradient(180deg, #DF7E2E -12.5%, #894D1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    color: #894D1C;
    line-height: 150%;
  }

  .btnShare {
    background: #F02020;
    height: 48px;
    width: 100%;
  }

  .img {
    width: 100px;
  }
}
