.started {
  background-color: black;
  padding-top: var(--builder-padding-size);
  padding-bottom: 40px;
}

.wrapHeading {
  display: flex;
  justify-content: center;
}

.heading {
  font-weight: 500;
  line-height: (75/68);
  text-align: center;
  font-size: 34px;
  margin-bottom: 34px;
  color: white;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;

  @include is-min-table {
    font-size: 48px;
  }
  @include is-pc {
    font-size: 68px;
    margin-bottom: 48px;
  }
}

.extends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  gap: 24px;
  @include is-min-table {
    gap: 48px;
  }
}

.exItem {
  max-width: 299px;
  text-align: center;
  flex: 0 0 100%;

  @include is-min-table {
    flex: 0 0 50%;
  }

  @include is-pc {
    flex: 1;
  }

  &:nth-child(1) {
    :global {
      .content {
        max-width: 205px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.listIcons {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0;
}

.lbContent {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
  border: 1px solid #ffffff26;
  font-weight: 400;
  line-height: (24/16);
  text-align: center;
  max-width: 642px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  font-size: 14px;
  padding: 8px;

  @include is-min-table {
    font-size: 16px;
    padding: 16px;
  }
}
