.container {
  background: #FFFFFF;
  //padding-top: 156px;
  //max-width: 1196px;
  margin: 0 auto;
  &_section_tow {
    background: #F3F1E8;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
}

.topHero {
  //background: #F6F6F6;
}
