.wrapper {
  background-color: #F2F2F2;

}
.inner {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 156px;
}

.actions {
  padding: 8px;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.08);

  &_button {
    height: 50px;
    width: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;

    h6 {
      color: #000;
      text-align: center;
      font-family: 'JetBrains Mono';
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}
.container {
  background: #ffffff;

  &_section_tow {
    background: #f3f1e8;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
}

.topHero {
  //background: #F6F6F6;
}

.active {
  background-color: #000;

  h6 {
    color: #fff;
  }
}
