.wrapper {
  background-color: #f2f2f2;
}
.inner {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 156px;
  @include is-mobile {
    flex-direction: column;
  }
}

.container {
  background: #ffffff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 100px;
  &_section_tow {
    background: #fff;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
}

.topHero {
  //background: #F6F6F6;
}
