.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #000;
  width: 100%;
  font-family: 'Urbanist';

  .container {
    width: 100%;

    .wrapperContent {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding-top: rem(80px);
      padding-bottom: rem(62px);
      max-width: rem(1138px);

      .mainHeading {
        text-align: start;
        font-size: rem(36px);
        display: inline-block;
        @include is-pc {
          text-align: center;
          font-size: rem(68px);
        }
      }

      .decsContent {
        margin-top: rem(24px);
        margin-bottom: rem(34px);
        font-size: rem(16px);
        max-width: rem(768px);
        width: 100%;
        text-align: start ;
        @include is-pc {
          text-align: center;
        }
      }


      @include is-pc {
        padding-top: rem(160px);
        padding-bottom: rem(122px);

        .decsContent {
          margin-bottom: rem(68px);
          font-size: rem(20px);

        }
      }
    }
  }
}

.wrapperImageCode {
  max-width: rem(1138px);
  width: 100%;
  @include is-pc {
    aspect-ratio: 1165/530;
  }

  :global {
    .imagePreload {
      width: 100%;
      height: auto;
    }
  }
}

.codeWrapper {
  border: 1px solid #353537;
  border-top: none;
  border-radius: 0px 0px 16px 16px;
}
