.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #000;
  width: 100%;
  font-family: 'Urbanist';

  .container {
    width: 100%;

    .wrapperContent {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding-top: 80px;
      padding-bottom: 62px;
      max-width: 1138px;

      .mainHeading {
        text-align: start;
        font-size: 36px;
        display: inline-block;
        @include is-pc {
          text-align: center;
          font-size: 68px;
        }
      }

      .decsContent {
        margin-top: 24px;
        margin-bottom: 34px;
        font-size: 16px;
        max-width: 768px;
        width: 100%;
        text-align: start ;
        @include is-pc {
          text-align: center;
        }
      }


      @include is-pc {
        padding-top: 160px;
        padding-bottom: 122px;

        .decsContent {
          margin-bottom: 68px;
          font-size: 20px;

        }
      }
    }
  }
}

.wrapperImageCode {
  max-width: 1138px;
  width: 100%;
  @include is-pc {
    aspect-ratio: 1165/530;
  }

  :global {
    .imagePreload {
      width: 100%;
      height: auto;
    }
  }
}

.codeWrapper {
  border: 1px solid #353537;
  border-top: none;
  border-radius: 0px 0px 16px 16px;
}
