.markdown {
  max-width: inherit;

  * {
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
    }
  }
}
