.heading {
  font-family: var(--font-JetBrainsMono);
  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);
}

.right {
  &_top {
    display: flex;
    align-items: center;
    width: 100%;
    //justify-content: space-between;
    width: 100%;
    gap: 16px;
    &_box {
      border-radius: 24px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
      background-color: #fff;
      padding: 7px 24px;
      display: flex;
      width: 100%;
      // max-width: 580px;
      justify-content: space-between;
      align-items: center;
      p {
        font-family: var(--font-JetBrainsMono);

        font-size: 20px;
        font-weight: 500;
        line-height: 30 / 20;
        span {
          color: rgba(0, 170, 108, 1);
        }
      }
      &_btn {
        color: rgba(65, 133, 236, 1);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        font-family: var(--font-JetBrainsMono);
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: calc(28 / 18);
        &:hover {
          color: rgb(26, 109, 232);
        }
      }
    }
  }
}
