html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

.container {
  max-width: calc(1600px + 64px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

  @include is-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include is-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.containerV3 {
  max-width: calc(1440px + 40px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include is-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include is-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.anim-scale {
  width: 100%;
}

@keyframes flip {
  0%,
  45% {
    transform: rotate(0);
  }
  50%,
  95% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bottom {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(50%);
  }
  51% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes top {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(100%);
  }
  51% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes bottom-drip {
  0% {
    left: 45%;
    transform: translateY(-100%);
    width: 10%;
  }
  5% {
    transform: translateY(0);
  }
  45%,
  100% {
    left: 50%;
    transform: translateY(0);
    width: 0;
  }
}

@keyframes top-drip {
  0%,
  50% {
    left: 45%;
    transform: translateY(100%);
    width: 10%;
  }
  55% {
    left: 45%;
    transform: translateY(0);
    width: 10%;
  }
  100% {
    left: 50%;
    transform: translateY(0);
    width: 0;
  }
}

.reverse {
  transform: rotate(180deg);
}
.white-body {
  background-color: #fff;
}
