html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @include is-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
