
// FONTS
// TYPE SIZES
$font-size: 16px;
$font-size-rem: 10px;

// SCREEN SIZES
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-ml: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-xxxl: 1600px;

// Z-INDEX
$modal-zIndex: 9999;

