.dropMenu_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 8px;
  margin-top: 3px;
  list-style: none;
  background-color: rgba(248, 249, 250, 1);
  opacity: 0.9;
  border: 1px solid #E5E7EB;
  padding: 8px;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  :hover {
    opacity: 1;
    p {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menusAction {
  position: relative;
  display: inline-block;
  width: 100%;
  //width: 200px;
}
