.bitEth {
  padding-top: 120px;
  background: #000;
  overflow: hidden;

  &_content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
  }

  .thumb {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }

  .heading {
    color: #FFF;
  }

  .content {
    text-align: center;
    color: #FFF;
  }

  .actions {
    display: flex;
    justify-content: center;
  }
}
