.container {
  height: 510px;
  //border-radius: 20px;
  //border: 1px solid rgba(255, 255, 255, 0.10);
  padding: 0;
  background: #ECECEC;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 1200px;

  -ms-overflow-style: none;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: transform 0s linear;
  scrollbar-color: #fa8e70 rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: white !important;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f6f5ef;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fa8e70;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
  }
}

table {
  &.tableContainer {
    thead {
      box-shadow: unset !important;
      tr {
        background-color: #FFF;
        th, td {
          font-size: 16px !important;
          padding: 16px 8px !important;
          border-bottom: 1px solid #0000001A !important;
          &:first-child {
            padding-left: 28px !important;;
          }
          &:not(:first-child):not(:last-child) {
            > div {
              justify-content: center;
              min-height: 24px;
            }
          }
          &:last-child {
            padding-right: 28px !important;
            > div {
              justify-content: flex-end;
            }
          }
        }
      }
    }

    tbody {
      background: white;
      tr {
        td {
          border-bottom: 0;
        }
      }
    }
  }
}

.leaderBoardItem {
  &_active {
    background: rgba(16, 200, 0, 0.1);
  }
  td {
    padding: 24px 0px !important;
    > div {
      height: 32px !important;
    }
    &:first-child {
      padding-left: 28px !important;
    }
    &:last-child {
      padding-right: 28px !important;
    }
    &:not(:first-child):not(:last-child) {
      padding-left: 8px !important;
      padding-right: 8px !important;
      > div {
        justify-content: center;
      }
    }
  }
  &_amount {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: black !important;
  }
  &_name {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: black !important;
  }
  &_award {
    color: #10C800;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }

  &_needActive {
    background-color: black
  }
}
