.headerRolling {
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 20px;
  background-color: #000;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    color: #ffffff;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  // padding-bottom: 40px;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  // height: calc(100dvh - 114px);
  background-color: #f3f1e8;
  margin-left: auto;
  margin-right: auto;
  color: #000;

  font-family: var(--font-JetBrainsMono) !important;
  //max-width: 1920px !important;
  padding-left: 14px;
  padding-right: 14px;

  background-image: url('/heartbeat/heartbeat-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // @include w-min(2100px) {
  //   background-position: top 100px center;
  // }

  .fontType2 {
    font-family: var(--font-SFProDisplay) !important;
  }

  .fontType3 {
    font-family: var(--font-dmsans) !important;
    font-weight: 500 !important;
    font-size: 18px;
  }

  :global {
    .chakra-table__container {
      border-radius: 0px;
      border: 1px solid #6c6f93;
    }
  }
}

.content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
}

.lottie {
  width: 30px;
  height: 30px;
}

.totalContainer {
  border: 1px solid #6c6f93;
  padding: 16px 8px;

  .total_title {
    color: #b1b154;
    font-size: 18px;
    font-weight: 600 !important;
  }

  .mul_value {
    color: green;
  }
}

.popoverContent {
  &:focus-visible {
    outline: none;
  }

  &:focus {
    outline: none !important;
    border: 0px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px !important;
  }
}

.popoverBody {
  padding: 16px 8px;
  border: 1px solid #6c6f93;

  :hover {
    background: none !important;
    outline: none !important;
  }
}

.wrapScroll {
  overflow-x: auto;
}

table {
  &.tableContainer {
    overflow-x: hidden;
    background: #fff;

    :global {
      .isActiveRow {
        background-color: rgba(26, 172, 235, 0.2) !important;

        p {
          color: black !important;
        }
      }
    }

    thead {
      tr {
        th {
          padding-bottom: 16px !important;
          background: #fff;
          color: #b1b154;
          font-size: 16px;
          font-weight: 600 !important;
          border-bottom: none;

          border-bottom: 0px;
          border-right: 1px solid #6c6f93;

          &:last-child {
            border-right: 0px solid #6c6f93;
          }
        }
      }
    }

    tbody {
      border-top: 1px solid #6c6f93;

      tr {
        td {
          border-bottom: 0px;
          border-right: 1px solid #6c6f93;

          &:last-child {
            border-right: 0px solid #6c6f93;
          }
        }
      }

      tr:first-child {
        background: rgb(250, 78, 14, 0.2) !important;
      }

      tr:hover {
        background: #fa4e0e !important;

        // td:nth-child(1),
        // :nth-child(3),
        // :nth-child(4),
        // :nth-child(10) {
        //   text-decoration: underline;
        //   p {
        //     color: #000 !important;
        //   }
        // }
      }
    }

    .title {
      font-style: normal;
      font-size: 16px;
      line-height: 160%;

      color: var(--naka-text);

      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.container {
  overflow: hidden;
  width: 100%;

  @include w-max(768px) {
    max-width: calc(100vw - 32px);
  }

  .title {
    font-size: 28px;
    @include w-max(968px) {
      font-size: 20px;
    }
  }
}

.search {
  width: 620px !important;
  height: 52px !important;
  box-shadow: 0px 0px 24px -6px #0000000a;
  border: 1px solid #ececec;

  input {
    font-family: var(--font-SFProDisplay) !important;
    font-size: 16px !important;
  }
  &:focus-within {
    // box-shadow: 0px 0px 16px -4px rgb(248, 83, 24, 20);
  }

  @include w-min(2100px) {
    width: 860px !important;
    height: 58px !important;
  }

  @include w-max(768px) {
    width: 90vw !important;
  }
}
