.wrapper {
  border-radius: 24px;
  background: #f3f4f7;

  &_last {
    background: linear-gradient(90deg, #c9d6ff 0%, #e2e2e2 100%);
  }

  .inner {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    height: 100%;
    width: 100%;

    @include is-mobile {
      padding: 20px;
    }

    &_wrapImg {
      width: 100%;
      position: relative;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      video {
        aspect-ratio: 287/130;
        object-fit: cover;
        transform: scale(1.15);
      }
    }

    &_title {
      color: #000;
      font-family: var(--font-hind);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 28.6px */
      text-transform: uppercase;

      @include is-mobile {
        font-size: 16px;
      }
    }

    &_decs {
      padding-top: 32px;
      border-top: 1px solid #000;
      color: #000;
      font-family: var(--font-hind);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @include is-mobile {
        font-size: 14px;
        padding-top: 20px;
      }
    }
  }
}
