.wrapper {
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #232323;
    background: rgba(13, 13, 19, 0.70);

    .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        background: rgba(255, 255, 255, 0.05);
        padding: 14px 12px;
    }

    .body {
        :global {
            .chakra-tabs__tab-panel {
                padding: 0;
            }

            .chakra-tabs__tab {
                color: #BDC3D1;
                font-family: "Space Mono";
                font-size: 11.569px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 6.611px 13.222px;
                display: flex;
                align-items: center;
                gap: 6px;
                border-radius: 6.611px;



                &[aria-selected='true'] {
                    color: #FFF;
                    border: 1px solid rgba(68, 68, 85, 0.60);
                    background: rgba(255, 255, 255, 0.05);

                }
            }
        }
    }
}