.wrapperBox {
 .inner {
   position: relative;
   background: white;
   border: 1px solid #555555;
   border-radius: 16px;
   padding: 20px;
 }
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    &_heading {
      font-weight: 600;
      font-size: 14px;
      color: #555;
      line-height: calc(20 / 14);
    }
    &_left {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      p {
        color: #4185EC;
        margin-top: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: calc(20 / 14);
        &:hover {
          text-decoration: underline;
        }
      }
      &_icon {
        max-width: 20px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.handleDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  border: 1px solid #555555;
  z-index: 4;
}
