.itemChain {
  width: fit-content;
  flex: 1;
  cursor: pointer;

  &_inner{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
  }

  @include is-mobile {
    width: 90vw;
    flex: 0 0 auto;
    padding: 7.64px;
    flex-grow: 1;
  }

  @include is-tablet {
    flex: 0 0 auto;
    width: 50%;
    padding: 12px;
  }

  :global {
    .fade {
      width: 100%;
    }

    .sectionTop_img {
      transition: transform 0.4s var(--easeOutQuart);
    }
  }

  &:hover {
    :global {
      .sectionTop_img {
        transform: scale(1.2);
      }
    }
  }
}

.itemLaunch {
  width: 100%;
  gap: unset;
}
.itemLaunch:first-child {
  grid-column: span 2;
  grid-column-start: 1;
}
.itemLaunch:nth-child(3n) {
  grid-column: span 2;
  grid-column-start: 2;
  @include is-tablet{
    grid-column-start: 1;
  }

  @include is-mobile{
    grid-column-start: 1;
  }
}
