.footer {
  background-image: url("/public-sale/btn-play-5.png");
  .footerContent {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
