.lego {
  position: relative;
  width: max-content;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  * {
    color: #ffffff;
    font-weight: 500;
  }

  svg path {
    stroke-width: 2px;
    stroke: var(--border-color);
    fill: var(--background-color);
  }

  &__piece {
    position: absolute;
    left: 11px;

    &__top {
      top: -1px;
      // z-index: -1;
      // transform: translateY(-1px);

      svg path {
        fill: #ffffff !important;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2.4px);
        height: 1px;
        background-color: #ffffff;
        border-radius: 99999px;
      }
    }

    &__bottom {
      bottom: 0;
      transform: translateY(calc(100%));
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-0.5px);
        width: calc(100% - 2px);
        height: 1px;
        background-color: var(--background-color);
        border-radius: 99999px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &__label {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__preview {
    .lego__inner {
      flex-direction: column;
      align-items: flex-start;
      .lego__inner__label {
        font-size: 14px;
      }
    }
  }
}
