.container {
  width: 100%;
  //width: 1000px;
  //max-width: rem(1000px);
  //margin: 0 auto;

  @include is-mobile {
    padding: 0 12px;
  }
}

.modalManualHeader {
  padding-bottom: 0 !important;
}

.modalContent {
  :global {
    .chakra-modal__body {
      padding-left: rem(24) !important;
      padding-right: rem(24) !important;
    }
  }
}
