.container {
  background-size: cover;
  background-repeat: no-repeat;
  gap: 80px;
  width: 100%;

  @include w-min(1920px) {
    min-height: 800px;
  }

  .content {
    width: 100%;
  }

  .leftSection {
    background: #1B1B1B;
    padding-top: 80px;
    position: relative;
  }

  .rightSection {

    @include w-max(768px) {
      height: unset;
    }

    @include is-mobile {
      padding-top: unset;
      height: unset;
    }
  }

  .title {
    font-size: 68px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;

    @include is-mobile {
      font-size: 32px;
    }
  }

  .subTitle {
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;

    @include w-max(768px) {
      font-size: 24px;
    }
  }

  .hightlight {
    color: #FF7E21;
  }

  .desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    white-space: pre-wrap;

    @include w-max(768px) {
      font-size: 16px;
    }
  }

  .raffleButton {
    position: absolute;
    top: 24px;
    left: 24px;

    @include is-mobile {
      top: 280px;
    }
  }

  .boardSwitch {
    position: absolute;
    top: 24px;
    right: 24px;
    width: fit-content;

    @include is-mobile {
      top: 280px;
    }
  }
}
