.heading {
  font-family: var(--font-jetbrains);
  font-weight: 400;
  font-size: 40px;
  line-height: calc(52 / 40);
  text-align: center;
  color: #000;
  padding-top: 100px;
}

.wrapperCardDapps {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 44px;

  @include is_min-table {
    grid-template-columns: repeat(2, 1fr);
  }

  @include is-pc {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wrapperCardChains {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;

  @include is-min-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

.description {
  color: #000;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.7;
}

.tabWrapper {
  display: flex !important;
  flex-direction: row;
  gap: 120px;
  justify-content: space-between;

  @include is-tablet {
    gap: 60px;
  }

  @include is-mobile {
    flex-direction: column;
    gap: 30px;
  }
}

.tabList {
  flex-direction: column !important;
  align-items: center;
  gap: 10px;

  @include is-mobile {
    flex-direction: row !important;
  }

  >button {
    width: 200px;
    padding: 16px 12px;
    border-radius: 100px;
    background: none;
    outline: none;
    border-bottom: none;

    font-family: var(--font-JetBrainsMono) !important;
    flex: unset;
    position: relative;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    line-height: 130%;

    &[aria-selected='true'] {
      color: #FA4E0E;
      opacity: 1;
      font-weight: 700;
      background: rgba(250, 78, 14, 0.10);
    }

    @include is-tablet {
      width: 100px;
    }
  }
}
