.btnMax {
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: rgba(172, 248, 198, 0.10);
  color: #ACF8C6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.28px;
}

.error {
  color: #ff4747;
  text-align: left;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 4px;
}
