.container {
  border-top: 1px solid #FFFFFF26;
  padding: 60px 90px;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  .desc {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
  }

  .learnMoreWrapper {
    background: #FFFFFF;
    padding: 12px 16px;
    width: fit-content;
    color: #000000;
    margin-top: 20px;
  }

  .item {
    background: #FFFFFF0D;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    height: 36px;
    font-size: 14px;
    font-weight: 400;

    &.selected {
      background: #FA4E0E1F;
      color: #FA4E0E;
    }
  }
}
