.container {
  border-top: 1px solid #FFFFFF26;
  padding: 60px 0px;
  width: 100%;

  .content {
    max-width: 778px;
    margin: 0 auto;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  .desc {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
  }

  .learnMoreWrapper {
    background: #FFFFFF;
    padding: 6px 6px 6px 16px;
    width: fit-content;
    color: #000000;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
  }

  .item {
    background: #FFFFFF0D;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    &.selected {
      background: #FFFFFF;
      color: #FA4E0E;
    }
  }
}
