.hero {

  background: white;
  padding-top: 60px;

  :global {
    .splide__list {
      gap: 24px;
    }

    .splide {
      padding: 0 !important;
      border-radius: 32px;
      overflow: hidden;
    }

    .splide__arrow {
      opacity: 1 !important;
      width: auto !important;
      height: auto !important;

      span {
        transition: transform .4s ease-out;
        background: white;
        border-radius: 50%;
        height: 68px;
        width: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        span {
          transform: scale(1.05);
        }
      }
    }

    .slideItem_item {
      opacity: 0;
      transition: opacity .4s ease;
    }

    .splide__slide.is-active {
      .slideItem_item {
        opacity: 1;
      }
    }
  }
}

.slideItem {
  position: relative;
  border-radius: 32px;
  overflow: hidden;

  &_item {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px 32px;
    display: flex;
    gap: 124px;
    align-items: center;
    justify-content: space-between;

    &_left {

    }

    &_action {
      flex: 0 0 auto;
      width: fit-content;
    }
  }

}

.heading {
  font-family: var(--font-hind);
  font-size: 40px;
  font-weight: 700;
  line-height: (48/40);
  margin-bottom: 8px;
}

.desc {
  font-family: var(--font-hind);
  font-size: 20px;
  font-weight: 400;
  line-height: (36/20);
}

.btn {
  height: 48px;
  width: 152px;
  text-transform: uppercase;
  font-family: var(--font-hind);
  font-size: 16px;
  font-weight: 500;
  line-height: (25/16);
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: black;
  border-radius: 100px;
}
