.dropdown {
  position: relative;
  display: block;
  width: max-content;
  font-size: 18px;
  color: #fff;
  min-width: 120px;
  height: 100%;
  border-radius: 20px;

  &_inner {
    width: 100%;
    position: relative;
    padding: 0 10px;
  }
  &_text {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    font-family: var(--font-JetBrainsMono);
    letter-spacing: -0.18px;
  }
  &_icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }

  &_list {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 384px;
    height: 0;
    overflow: hidden;

    &_inner {
      display: flex;
      flex-direction: column;
    }

    &__active {
      height: auto;
    }

    li {
      list-style-type: none;
    }
  }

  &_item {
    transition: background-color 0.3s var(--easeOutQuart);
    border-radius: 4px;
    padding: 8px 4px;

    &__active {
      background-color: var(--background);
    }
    &:hover {
      transition: background-color 0.3s var(--easeOutQuart);
      background-color: var(--background);
    }
  }
}

.dropdown_wrap {
  background: var(--fillBackground);
  margin-top: 15px;
  position: relative;
  padding: 16px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & .text {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(34 / 24); /* 155.556% */
    letter-spacing: -0.18px;
    margin-bottom: 4px;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 15px solid var(--fillBackground);
    position: absolute;
    bottom: calc(100% - 3px);
    left: 50%;
    transform: translateX(-50%);
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--backgroundSlider);
    height: 2px;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 50px ;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: #ffffff;
    height: 12px;
    width:  12px;
  }
}
