.superContainer {
}

.container {
  height: calc(100dvh - 100px);
  --height-studio: calc(100vh - 300px);
  transition-duration: 1s;

  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }
}

.explorePageContainer {
  --height-studio: max-content;
  height: max-content;
}

.thumbLegosContainer {
  height: var(--height-studio);
  overflow: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-color: #e0e0e0;
}

.showroomLegosContainer {
  height: var(--height-studio);
  max-width: 650px;
  border-width: 1px;
  border-color: #e0e0e0;
  background: #fff;
  color: #000;

  .container {
    height: var(--height-studio);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 2px;
      overflow: hidden;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #e0e0e0;
    }
  }
}

.middleViewContainer {
  position: relative;
  width: 100%;
  height: var(--height-studio);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 12px;
  border-width: 1px;
  border-color: #e0e0e0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }

  .cta_wrapper {
    position: absolute;
    bottom: 18px;
    right: 25px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 16px;
    :hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.rightViewContainer {
  height: var(--height-studio);
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
}

.container_text {
  font-family: var(--font-JetBrainsMono) !important;
  font-size: 20px;
  margin: 10px 0 30px 0;
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  line-height: calc(30 / 20);
}

.wrapper {
  transition-duration: 1s;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}

.left {
  width: 48%;
}

.heading {
  font-family: var(--font-JetBrainsMono);

  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);

  &_note {
    //margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(20 / 12);

    span {
      color: rgba(255, 0, 0, 1);
    }
  }
}

.right_box_main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  &_captured {
    position: relative;
    width: 650px;
    // margin-left: -100px;
    transform: translateX(-100px);
  }
}

.left_box {
  margin-top: 15px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  &_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--height-studio);
    overflow: hidden;

    &_sidebar {
      width: 15%;
      height: var(--height-studio);
    }

    &_content {
      width: 85%;
      height: var(--height-studio);
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #e0e0e0;
      }
    }
  }
}

.wrapper_btn_top {
  display: flex;
  gap: 12px;
}

.top_right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.right_box {
  margin-top: 16px;
  height: var(--height-studio);
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;

  &_footer {
    display: flex;
    gap: 24px;

    &_left {
      display: flex;
      flex-direction: column;
      text-align: left;

      &_title {
        font-family: var(--font-JetBrainsMono);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        color: #777777;
      }

      &_content {
        font-family: var(--font-JetBrainsMono);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #333333;
      }
    }
  }
}

.input {
  background-color: #fff;
  color: #0e0e0e;
  width: 100%;
  padding: 0 12px;
  border-radius: 17px;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;

  &::placeholder {
    color: #0e0e0e;
  }
}

.notiWraper {
  display: flex;
  align-items: center;
  gap: 12px;

  .link {
    text-decoration: underline;
  }
}

.finalResult {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  // align-items: center;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.hTrigger {
  height: 70vh;
  display: block;
  width: 100%;
}

.activeBlur {
  //transition-duration: 1s;
  animation: blurOut 0.5s infinite;
}

@keyframes blurOut {
  0% {
    transform: translate(1px, 1px);
  }

  10% {
    transform: translate(-1px, -2px);
  }

  20% {
    transform: translate(-3px, 0px);
  }

  30% {
    transform: translate(3px, 2px);
  }

  40% {
    transform: translate(1px, -1px);
  }

  50% {
    transform: translate(-1px, 2px);
  }

  60% {
    transform: translate(-3px, 1px);
  }

  70% {
    transform: translate(3px, 1px);
  }

  80% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(1px, 2px);
  }

  100% {
    transform: translate(1px, -2px);
  }
}

.modal {
  --modal-bg: #e9e9e9 !important;
}

.btns {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  width: 200px;

  &__primary {
    background-color: #2f80ed !important;
    color: #fff !important;
  }

  &__outline {
    background-color: #fff;
    color: #2f80ed !important;
    border: 1px solid #2f80ed;
  }
}

.cta_wrapper {
  position: absolute;
  bottom: 28px;
  right: 35px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 16px;
}

.reset {
  background-color: #fee5db;
  color: #fa4e0e;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 1000px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  cursor: pointer;

  p {
    text-transform: uppercase;
  }

  &.gray {
    background: #0000000d;
  }

  .icon {
    max-width: 20px;

    img {
      width: 100%;
    }
  }
}

.top_left {
  display: flex;
  gap: 10px;
  width: max-content;

  &_filter {
    //width: 150px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    border-radius: 1000px;
    opacity: 0.5;
    border: 1px solid #000;
    cursor: pointer;

    p {
      font-family: var(--font-jetbrains);
      font-size: 20px;
      color: #000000;
      //text-transform: uppercase;
      line-height: calc(26 / 20);
      text-align: center;
    }

    &.active {
      //border-bottom: 2px solid rgba(250, 78, 14, 1);
      background-color: rgba(250, 78, 14, 1);
      opacity: 1;
      cursor: pointer;

      border: 1px solid rgba(250, 78, 14, 1);

      p {
        color: #fff;
      }
    }
  }
}

.captureContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  &_captured {
    position: relative;
    width: 650px;
    // margin-left: -100px;
    transform: translateX(-100px);
  }
}
