.categories {
  background-color: #fff;
  padding-top: var(--builder-padding-size);
  padding-bottom: var(--builder-padding-size);

  &_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 881px;
  }

  &_heading {
    display: flex;
    flex-direction: column;
    //gap: 12px;
    max-width: 652px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 34px;

    @include is-min-table {
      padding-bottom: 60px;
      //gap: 16px;
    }
  }

  &_title {
    width: 100%;
    color: #000;
    font-weight: 500;
    font-size: 34px;
    line-height: 109%;
    text-align: center;

    @include is-min-table {
      font-size: 48px;
    }

    @include is-pc {
      font-size: 68px;
    }
  }

  &_desc {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: #000;

    @include is-min-table {
      font-size: 16px;
    }
    @include is-pc {
      font-size: 18px;
    }
  }

  &_content {
    background-color: #f6f6f6;
  }
}
