.itemChain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  width: fit-content;
  flex: 1;
  cursor: pointer;

  @include is-mobile {
    width: 90vw;
    flex: 0 0 auto;
    padding: 7.64px;
    flex-grow: 1;
  }

  @include is-tablet {
    flex: 0 0 auto;
    width: calc(50% - 30px);
    padding: 12px;
  }

  :global {
    .fade {
      width: 100%;
    }

    .sectionTop_img {
      transition: transform 0.4s var(--easeOutQuart);
    }
  }

  &:hover {
    :global {
      .sectionTop_img {
        transform: scale(1.2);
      }
    }
  }
}
