.wrapper {
  background-color: #fff;
  padding-top: 120px;
  min-height: 100vh;
}

.list {

}

.inner {
  margin: 30px 0 60px 0;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include is-tablet {
    grid-template-columns: repeat(2, 1fr);

  }
  @include is-pc {
    grid-template-columns: repeat(3, 1fr);
  }
}
