.launch {
  align-self: flex-end;
  border-radius: 12px;
  padding: 7px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  background: #b6b6b6;

  &.active {
    background: linear-gradient(
      180deg,
      #ff9776 0%,
      #ff8139 32.81%,
      #e04300 100%
    );

    cursor: pointer;
    &:hover {
      background: linear-gradient(
        180deg,
        #f3ae99 0%,
        #f5945e 32.81%,
        #f36627 100%
      );
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
  }

  .icon {
    max-width: 24px;
  }

  .price {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
  }
}
