.container {
  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }

  .fontDMSans {
    font-family: var(--font-dmsans) !important;
  }
}
