.title {
  font-size: 16px;
  font-weight: 500;
  color: black !important;
}

.input {
  font-size: 16px;
  font-weight: 400;
  color: black !important;
  padding: 11px 13px 11px 13px;
  width: 100%;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  opacity: 1 !important;
}

.uploadImage {
  * {
    color: black !important;
  }
}
