.container {
  width: 100%;
  font-family: var(--font-dmsans);

  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }
}

.wrapper {
  width: 100%;
}

.inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.left {
  .heading {
    padding: 7px 24px;
  }
}

.heading {
  font-family: var(--font-JetBrainsMono);

  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);
}

.right {
  &_top {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    width: 100%;
    gap: 16px;
    &_box {
      border-radius: 24px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
      background-color: #fff;
      padding: 7px 24px;
      display: flex;
      width: 100%;
      max-width: 580px;
      justify-content: space-between;
      align-items: center;
      p {
        font-family: var(--font-JetBrainsMono);

        font-size: 20px;
        font-weight: 500;
        line-height: 30 / 20;
        span {
          color: rgba(0, 170, 108, 1);
        }
      }
      &_btn {
        color: rgba(65, 133, 236, 1);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        font-family: var(--font-JetBrainsMono);

        line-height: calc(28 / 18);
        &:hover {
          color: rgb(26, 109, 232);
        }
      }
    }
  }
}

.left_box {
  margin-top: 16px;
}

.right_box {
  margin-top: 16px;
  height: 830px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.innerRight {
  width: 50%;
  height: 50%;
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  background-color: #fff;
  color: #0e0e0e;
  width: 100%;
  padding: 0 12px;
  border-radius: 17px;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;
  &::placeholder {
    color: #0e0e0e;
  }
}

.launch {
  align-self: flex-end;
  border-radius: 24px;
  padding: 7px 24px;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: not-allowed;
  mix-blend-mode: luminosity;
  background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
  p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
  }
  .icon {
    max-width: 24px;
  }
  &.active {
    mix-blend-mode: normal;
    cursor: pointer;
    &:hover {
      background: linear-gradient(180deg, #f3ae99 0%, #f5945e 32.81%, #f36627 100%);
    }
  }
}
