.container {
  width: 100%;

  //font-family: var(--font-dmsans);
  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }

  --height-studio: calc(100vh - 280px);
}

.container_text {
  font-family: var(--font-JetBrainsMono) !important;
  font-size: 20px;
  margin: 10px 0 30px 0;
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  line-height: calc(30 / 20);
}

.wrapper {
  width: 100%;
  transition-duration: 1s;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}

.left {
  width: 48%;
}

.heading {
  font-family: var(--font-JetBrainsMono);

  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);

  &_note {
    //margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(20 / 12);

    span {
      color: rgba(255, 0, 0, 1);
    }
  }
}

.right {
  width: 52%;

  &_top {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    width: 100%;
    gap: 16px;

    &_box {
      border-radius: 24px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
      background-color: #fff;
      padding: 7px 24px;
      display: flex;
      width: 100%;
      max-width: 580px;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: var(--font-JetBrainsMono);

        font-size: 20px;
        font-weight: 500;
        line-height: 30 / 20;

        span {
          color: rgba(0, 170, 108, 1);
        }
      }

      &_btn {
        color: rgba(65, 133, 236, 1);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        font-family: var(--font-JetBrainsMono);

        line-height: calc(28 / 18);

        &:hover {
          color: rgb(26, 109, 232);
        }
      }
    }
  }
}

.right_box_main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  &_captured {
    position: relative;
    width: 650px;
    // margin-left: -100px;
    transform: translateX(-100px);
  }
}

.left_box {
  margin-top: 15px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  &_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: var(--height-studio);
    overflow: hidden;

    &_sidebar {
      width: 15%;
      height: var(--height-studio);
    }

    &_content {
      width: 85%;
      height: var(--height-studio);
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #e0e0e0;
      }
    }
  }
}

.wrapper_btn_top {
  display: flex;
  gap: 12px;
}

.top_right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.right_box {
  margin-top: 16px;
  height: var(--height-studio);
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;

  &_footer {
    display: flex;
    gap: 24px;

    &_left {
      display: flex;
      flex-direction: column;
      text-align: left;

      &_title {
        font-family: var(--font-JetBrainsMono);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        color: #777777;
      }

      &_content {
        font-family: var(--font-JetBrainsMono);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #333333;
      }
    }
  }
}

.input {
  background-color: #fff;
  color: #0e0e0e;
  width: 100%;
  padding: 0 12px;
  border-radius: 17px;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;

  &::placeholder {
    color: #0e0e0e;
  }
}

.notiWraper {
  display: flex;
  align-items: center;
  gap: 12px;

  .link {
    text-decoration: underline;
  }
}

.finalResult {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;

  // align-items: center;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.hTrigger {
  height: 70vh;
  display: block;
  width: 100%;
}

.activeBlur {
  //transition-duration: 1s;
  animation: blurOut 0.5s infinite;
}

@keyframes blurOut {
  0% {
    transform: translate(1px, 1px);
  }

  10% {
    transform: translate(-1px, -2px);
  }

  20% {
    transform: translate(-3px, 0px);
  }

  30% {
    transform: translate(3px, 2px);
  }

  40% {
    transform: translate(1px, -1px);
  }

  50% {
    transform: translate(-1px, 2px);
  }

  60% {
    transform: translate(-3px, 1px);
  }

  70% {
    transform: translate(3px, 1px);
  }

  80% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(1px, 2px);
  }

  100% {
    transform: translate(1px, -2px);
  }
}

.modal {
  --modal-bg: #e9e9e9 !important;
}

.btns {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  width: 200px;

  &__primary {
    background-color: #2f80ed !important;
    color: #fff !important;
  }

  &__outline {
    background-color: #fff;
    color: #2f80ed !important;
    border: 1px solid #2f80ed;
  }
}

.cta_wrapper {
  position: absolute;
  bottom: 28px;
  right: 35px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 16px;
}

.reset {
  background-color: #fee5db;
  color: #fa4e0e;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 1000px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  cursor: pointer;

  p {
    text-transform: uppercase;
  }

  &.gray {
    background: #0000000d;
  }

  .icon {
    max-width: 20px;

    img {
      width: 100%;
    }
  }
}

.video {
  position: absolute;
  top: 22px;
  right: 18px;
  max-width: 291px;
  z-index: 99;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  &_img {
    border-radius: inherit;
  }

  &_close {
    position: absolute;
    z-index: 9999;
    top: 5px;
    right: 5px;
    cursor: pointer;
    max-width: 24px;
    font-weight: 700;
    color: #000;
    background-color: transparent;
    border: none;
  }

  &_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60px;
    z-index: 9999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s;
  }
}

.resetDescription {
  font-family: var(--font-SFProDisplay);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  width: 100%;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;

  &__button {
    --color: #fa4e0e;
    display: block;
    width: 158px;
    height: 48px;
    padding: 13px;
    border-radius: 99999px;
    font-family: var(--font-SFProDisplay);
    font-size: 15px;
    font-weight: 600;
    line-height: 17.9px;
    text-align: center;

    align-items: center;
    justify-content: center;

    &__cancel {
      background-color: var(--color);
    }

    &__reset {
      border: 1px solid var(--color);
      color: var(--color);
    }
  }
}

.top_left {
  display: flex;
  gap: 10px;
  width: max-content;

  &_filter {
    //width: 150px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    border-radius: 1000px;
    opacity: .5;
    border: 1px solid  #000;
    cursor: not-allowed;
    p {
      font-family: var(--font-jetbrains);
      font-size: 20px;
      color: #000000;
      //text-transform: uppercase;
      line-height: calc(26 / 20);
      text-align: center;
    }

    &.active {
      //border-bottom: 2px solid rgba(250, 78, 14, 1);
      background-color: rgba(250, 78, 14, 1);
      opacity: 1;
      cursor: pointer;

      border: 1px solid rgba(250, 78, 14, 1);

      p {
        color: #fff;
      }
    }
  }
}
