.container {
  width: 100%;
  //font-family: var(--font-dmsans);
  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }
}

.wrapper {
  width: 100%;
  transition-duration: 1s;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}

.left {
  width: 40%;

  .heading {
    margin-bottom: 20px;
  }
}

.heading {
  font-family: var(--font-JetBrainsMono);

  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);
}

.right {
  width: 60%;

  &_top {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    width: 100%;
    gap: 16px;

    &_box {
      border-radius: 24px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
      background-color: #fff;
      padding: 7px 24px;
      display: flex;
      width: 100%;
      max-width: 580px;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: var(--font-JetBrainsMono);

        font-size: 20px;
        font-weight: 500;
        line-height: 30 / 20;

        span {
          color: rgba(0, 170, 108, 1);
        }
      }

      &_btn {
        color: rgba(65, 133, 236, 1);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        font-family: var(--font-JetBrainsMono);

        line-height: calc(28 / 18);

        &:hover {
          color: rgb(26, 109, 232);
        }
      }
    }
  }
}

.left_box {
  margin-top: 16px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  &_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80vh;
    overflow: hidden;

    &_sidebar {
      width: 15%;
      height: 80vh;
    }

    &_content {
      width: 85%;
      height: 80vh;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #e0e0e0;
      }
    }
  }
}

.right_box {
  margin-top: 16px;
  height: 80vh;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;

  &_footer {
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0px 0px 4px 0px #00000012;
    display: flex;
    justify-content: space-between;

    &_left {
      display: flex;
      flex-direction: column;

      &_title {
        font-family: var(--font-JetBrainsMono);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        color: #777777;
      }

      &_content {
        font-family: var(--font-JetBrainsMono);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #333333;
      }
    }
  }
}

.input {
  background-color: #fff;
  color: #0e0e0e;
  width: 100%;
  padding: 0 12px;
  border-radius: 17px;
  font-family: var(--font-JetBrainsMono);
  font-size: 18px;

  &::placeholder {
    color: #0e0e0e;
  }
}

.notiWraper {
  display: flex;
  align-items: center;
  gap: 12px;

  .link {
    text-decoration: underline;
  }
}

.finalResult {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  // align-items: center;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.hTrigger {
  height: 80vh;
  display: block;
  width: 100%;
}

.activeBlur {
  //transition-duration: 1s;
  animation: blurOut 0.5s infinite;
}

@keyframes blurOut {
  0% { transform: translate(1px, 1px) ; }
  10% { transform: translate(-1px, -2px) ; }
  20% { transform: translate(-3px, 0px) ; }
  30% { transform: translate(3px, 2px) ; }
  40% { transform: translate(1px, -1px) ; }
  50% { transform: translate(-1px, 2px) ; }
  60% { transform: translate(-3px, 1px) ; }
  70% { transform: translate(3px, 1px) ; }
  80% { transform: translate(-1px, -1px) ; }
  90% { transform: translate(1px, 2px) ; }
  100% { transform: translate(1px, -2px) ; }
}
