.container {
  width: 60dvw;
  border-top: 3px solid #FFF;

  .title {
    font-size: 40px;
    font-weight: 500;
    color: #FFF;
  }

  .blockNumber {
    font-size: 40px;
    font-weight: 500;
    color: #1bd8f4;
  }

  .btnClose {
    cursor: pointer;
    svg {
      stroke: #FFF;
    }
  }

  .content {
    background-color: #24273e;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: .125rem .125rem .25rem #00000013;
    padding: 20px;
  }

  .table {
    font-size: 16px;
    tbody tr:nth-of-type(odd) {
      background-color: #181b2d;
    }
    td {
      padding: 12px;
      border-bottom: none;
    }
  }

  .feeSpan {
    color: #FFF000;
  }

  .unit {
    font-size: 12px;
    color: #ffffff66;
  }

  .price {
    font-size: 14px;
    color: #3bcc49;
  }

  .link {
    font-size: 16px;
    color: #1bd8f4;
    text-decoration: underline;
  }

  .health {
    color: #fff;
    background-color: #1a9436;
    padding: .25em .4em;
    width: fit-content;
    border-radius: 4px;
  }

  .poolImg {
    width: 15px;
    height: 15px;
  }

  .sizeProgress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    background: repeating-linear-gradient(to right, #2d3348, #2d3348 0%, #105fb0 0%, #9339f4 100%);
    border-radius: 4px;
  }
}
