.inner {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;

  @include is-min-table {
    gap: 48px;
  }

  @include is-pc {
    gap: 120px;
    flex-direction: row;
    max-width: 1440px;
  }

  &__left {
    @include is-pc {
      flex-direction: row-reverse;
    }
  }
}

.left {
  img {
    max-width: 100%;
  }

  @include is-pc {
    flex: 0 0 753px;
    max-width: 753px;
  }
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include is-min-table {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include is-pc {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.content {
  gap: 24px;
  display: flex;
  flex-direction: column;

  &_title {
    font-family: var(--font-JetBrainsMono);
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: left;
    color: black;
  }

  &_desc {
    font-family: var(--font-SFProDisplay);
    color: #5d6875;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: left;
    max-width: 600px;
  }

  .button {
    font-family: var(--font-JetBrainsMono);
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: center;
    color: #fa4e0e;
    text-transform: uppercase;

    display: flex;
    gap: 5px;
    align-items: center;
  }
}
