.builderHero {
  background-color: black;
  padding-top: 180px;
  padding-bottom: 86px;
  position: relative;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
  }
}

.topContent {
  position: relative;
  text-align: center;
  color: white;
  max-width: calc(956px + 120px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--builder-padding-size);
}

.heading {
  font-weight: 500;
  line-height: (75/68);
  text-align: center;
  font-size: 34px;
  margin-bottom: 12px;

  @include is-min-table {
    font-size: 48px;
  }
  @include is-pc {
    font-size: 68px;
    margin-bottom: 20px;
  }
}

.label {
  font-weight: 500;
  line-height: (36/16);
  text-transform: uppercase;

  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
  text-align: center;
  font-size: 14px;

  @include is-min-table {
    font-size: 16px;
  }
}

.desc {
  font-weight: 400;
  line-height: (36/22);
  text-align: center;
  font-size: 14px;
  margin-bottom: 16px;

  @include is-min-table {
    font-size: 18px;
  }
  @include is-pc {
    margin-bottom: 32px;
    font-size: 22px;
  }
}

.extends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  gap: 24px;
  @include is-min-table {
    gap: 48px;
  }
}

.exItem {
  max-width: 359px;
  text-align: center;

  flex: 0 0 100%;
  @include is-min-table {
    flex: 0 0 50%;
  }
  @include is-pc {
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding-left: 0;
  flex-direction: column;
  align-items: center;
  @include is-min-table {
    flex-direction: row;
    gap: 16px;
  }
}

.listIcons {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0;
  display: none;

  @include is-min-table {
    display: block;
  }
}

.icon {
  position: absolute;
  --size: 72px;

  img {
    width: var(--size);
    object-fit: contain;
    height: auto;
  }

  &:nth-child(1) {
    left: calc(var(--size) * -2);
    top: 0;

    img {
      width: calc(var(--size) * 0.9);
    }
  }

  &:nth-child(2) {
    right: calc(var(--size) * -2);
    top: 0;
  }

  &:nth-child(3) {
    left: calc(var(--size) * -1);
    bottom: 70px;
  }

  &:nth-child(4) {
    right: calc(var(--size) * -1);
    bottom: 0;

    img {
      width: calc(var(--size) * 1.5);
    }
  }
}
.item_details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 175px;

  &_inner {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    height: 24px;
    margin-left: auto;
    margin-right: auto;

    @include is-min-table {
      margin: unset;
    }
    &_text {
      line-height: 1.19;
    }
    &_svg {
      margin-top: -2px;
    }
  }
}

.btn {
  height: 48px;
  min-width: 175px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s var(--easeOutQuart);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: center;

  &__red {
    background: #fa4e0e;
    color: white;

    &:hover {
      background: #e64e0e;
    }
  }
}
