.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100dvh;
  background-color: #F3F1E8;
  --s-top: 88px;

  iframe {
    height: calc(100dvh - var(--s-top));
    margin-top: var(--s-top);
  }
}
