.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100dvh;
  background-color: #f3f1e8;
  --s-top: 57px;
  @include is-pc {
    --s-top: 131px;
  }
  --mr-top: calc(var(--s-top) + 52px);

  :global {
    .banner_container {
      bottom: auto !important;
      top: var(--s-top) !important;
    }
  }

  iframe {
    height: calc(100dvh - var(--mr-top) - 2px);
    margin-top: var(--mr-top);
  }
}
