.community {
  padding: 140px 0;
  background-color: #fff;
  &_inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    &_bottom {
      color: #000;
      gap: 128px;
      display: flex;
      flex-direction: row;

      &_img {
        width: 50%;
      }
      &_content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
      }
    }
    &_top {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 128px;
      &_heading {
        color: #000;
        gap: 16px;
        font-size: 48px;
        font-weight: 400;
        line-height: 57.6px;
        flex-shrink: 0;
        width: 736px;
        span {
          color: #fa4e0e;
        }
      }
      &_text {
        font-size: 24px;
        color: #000;
        line-height: 36px;
        font-weight: 400;
        width: 50%;
      }
    }
  }
}
