.wrapper {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;

  .avatar {
    border: 0;
  }

  .table_group {
    display: grid;
    // grid-template-columns: 8fr 20fr 11fr repeat(4, minmax(90px, 14fr));
    grid-template-columns: 56px 1fr 62px repeat(4, 90px);
    font-family: 'JetBrains Mono';
    background-color: rgba(134, 67, 251, 0.07);;

    .place_center {
      display: grid;
      place-items: center;
    }

    &.header {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      // opacity: 0.6;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border: 1px solid #232323;
      border-bottom: 0;
      background: rgba(255, 255, 255, 0.05);

      > div {
        padding-top: 12px;
        padding-bottom: 12px;
        opacity: 0.6;
      }
    }

    &.item {
      display: grid;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      height: 68px;

      

      .name {
        white-space: nowrap;
        // overflow: hidden;

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .passed {
        background: rgba(0, 170, 48, 0.15);
      }

      .failed {
        background: rgba(216, 18, 0, 0.25);
      }

      > div {
        border-left: 1px solid #232323;
        border-top: 1px solid #232323;

        &:last-child {
          border-right: 1px solid #232323;
        }
      }

      &:last-child > div {
        border-bottom: 1px solid #232323;
      }
    }

    .first_col {
      max-width: 56px;
      padding-left: 16px;
      display: flex;
      align-items: center;
    }

    .second_col {
      min-width: 113px;
      padding-left: 16px;
      display: flex;
      align-items: center;
    }

    .third_col {
      max-width: 82px;
    }

    > div {
      flex: 1;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 8fr 20fr 11fr 16fr 16fr 16fr 16fr;
  }
}

