.itemCommunity {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 74px;

  @include is-mobile {
    border: 1px solid #ff7e214d;
    background-color: #ff7e210f;
    height: auto;
    padding: 12px 0;
    padding-left: 10px;
    align-items: start;
  }
  &_lego {
    background: #6abd00;
    width: 74px;
    height: 74px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include is-mobile {
      background-color: transparent;
      width: 20px;
      height: 20px;
    }
    &_stud {
      position: absolute;
      left: 99%;
      background-color: #6abd00;
      width: 10px;
      height: 25px;
      top: 50%;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      transform: translateY(-50%);

      @include is-mobile {
        background-color: transparent;
      }
    }

    svg {
      width: 18.92px;
      height: 15.5px;
      path {
        @include is-mobile {
          fill: #6abd00;
        }
      }
    }
  }
  &_content {
    padding-left: 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 100%;
    line-height: 26px;
    font-weight: 400;
    flex: 1;
    position: relative;
    @include is-mobile {
      padding-left: 10px;
    }
    &_frame {
      position: absolute;
      left: 0;
      width: 100%;
      svg {
        height: 100%;
      }
    }
  }
}
