.wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;

    @include is-mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }



    .heading {
        color: #000;
        font-family: "JetBrains Mono";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        /* 35.2px */
        margin-bottom: 60px;

        .tag {
            color: #FA4E0E;
        }

        @include is-mobile {
            font-size: 28px;
            margin-bottom: 40px;
        }
    }

    .items_wrapper {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        scroll-snap-type: x mandatory;
        scroll-padding: 50%;
        overflow-x: auto;
        overflow-y: hidden;

        & {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            cursor: pointer;
            width: 30%;
            min-width: 400px;
            color: #000;
            font-family: "JetBrains Mono";

            @include is-mobile {
                min-width: 85%;
            }

            .thumbnail_wrapper img {
                transition: all 0.5s ease;

            }


            &:hover {
                .thumbnail_wrapper {
                    img {
                        scale: 1.1;
                    }
                }
            }

            .cardLogo {
                border-bottom: 1px solid #ECECEC;
                padding-bottom: 12px;

                img {
                    height: 28px;
                    width: auto;
                    object-fit: contain;
                }
            }


            .title {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 25.2px */
                letter-spacing: 0.9px;
            }

            .description {
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 22.4px */
                letter-spacing: 0.8px;
                opacity: 0.7;
                white-space: pre-line;
                min-height: 68px;
            }

            .item_tags span {
                color: #000;
                text-align: center;
                font-family: "JetBrains Mono";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 16.8px */
                text-transform: uppercase;
                border-radius: 100px;
                background: #F6F6F6;
                padding: 5px 8px;

            }

            .social_link {
                border-radius: 100px;
                background: #FFF;
                box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.08);
                width: 28px;
                height: 28px;
                padding: 6px;
                display: grid;
                place-items: center;
            }


        }
    }
}