.container {
  height: calc(100dvh - 100px);
  --height-studio: calc(100vh - 300px);
  transition-duration: 1s;

  .fontJetBrains {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .fontSFProDisplay {
    font-family: var(--font-SFProDisplay) !important;
  }
}

.thumbLegosContainer {
  height: var(--height-studio);
  overflow: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-color: #e0e0e0;
}

.content {
  text-align: center;

  &_text {
    font-family: var(--font-JetBrainsMono);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top: 16px;
  }
}

.logo {
  max-width: 270px;
  margin: 10px auto 0 auto;
}

.middleViewContainer {
  position: relative;
  width: 100%;
  height: var(--height-studio);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 12px;
  border-width: 1px;
  border-color: #e0e0e0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }

  .cta_wrapper {
    position: absolute;
    bottom: 18px;
    right: 25px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 16px;
    :hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.rightViewContainer {
  height: var(--height-studio);
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
  }
}
