.container {
  width: 100%;
  position: sticky;
  bottom: 0;
  background: #000000;
  border-top: 1px solid rgba(255, 255, 255, .15);
  z-index: 2;
  max-height: 80px;

  @include is-mobile {
    max-height: unset;
  }

  .item {
    background: #FA4E0E;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    min-width: 80px;
  }

  .learnMoreWrapper {
    background: #FFFFFF;

    align-items: center;
    width: fit-content;
    height: 40px;
    padding-left: 16px;
    padding-right: 6px;
    gap: 16px;
    color: #000000;

    span {
      background: #000000;
      display: block;
      padding: 6px;
    }

  }
}
