.wrapperDappCard {
  width: 100%;
  max-width: 442px;
  border-radius: 32px;
  display: block;
  background: linear-gradient(0deg, #F15A24 0%, #F7931E 40%, #FBB03B 100%);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  &_image {
    max-height: 300px;
    width: 100%;
    flex: 1;


    :global(.imagePreload) {
      // display: grid;
      // place-items: center;

      img {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
      }


    }
  }

  &_heading {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 16.8px */
    text-transform: uppercase;
  }

  &_decs {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(27 / 18);
  }
}

.wrapperDappCardContent {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.tags {
  display: flex;
  gap: 4px;
  padding-bottom: 12px;

  p {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 4px 12px;
    line-height: calc(21 / 14);
  }
}