.input {
  background-color: #ffffff !important;
  color: #000000 !important;
  width: 200px !important;
  padding: 0 12px !important;
  border-radius: 99999px !important;
  outline: none !important;
  height: 22px !important;
  line-height: calc(20 / 14);
  font-family: var(--font-SFProDisplay);

  &::placeholder {
    color: #000000 !important;
    opacity: 0.5 !important;
  }

  &__disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}

.fontError {
  font-family: var(--font-SFProDisplay);
}
