.heroContainer {
  display: flex;
  gap: rem(30px);
  padding: 0 0 rem(40px) 0;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 0;

  @include min-md {
    padding: rem(80px) 0 rem(40px) 0;
  }

  @include min-ml {
    flex-direction: row;
    gap: rem(120px);
    padding: rem(80px) 0;
    text-align: left;
    margin-top: rem(80px);
  }

  .heroContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_mainTitle {
      margin-bottom: rem(8px);
      line-height: rem(24px);
    }

    &_title {
      font-size: rem(28px);
      line-height: rem(32px);
      margin-bottom: rem(12px);

      @include min-ml {
        font-size: rem(40px);
        line-height: rem(48px);
        margin-bottom: rem(24px);
      }
    }

    &_subTitle {
      margin-bottom: rem(12px);

      @include min-ml {
        margin-bottom: rem(24px);
      }
    }

    &_button {
      display: block;
      width: fit-content;
      padding: rem(10.5px) rem(20px);
      background: #FA4E0E;
      font-size: rem(14px);
      line-height: rem(19.09px);
      color: #fff;
      margin-bottom: rem(20px);
      ;

      @include min-ml {
        font-size: rem(16px);
        padding: rem(14.5px) rem(40px);
        margin-bottom: rem(40px);
      }
    }

    &_link {
      color: #FA4E0E;
      display: flex;
      align-items: center;
      gap: rem(8px);
      font-size: rem(14px);
      line-height: rem(19.09px);

      @include min-ml {
        font-size: rem(16px);
      }
    }

    @include min-ml {
      align-items: flex-start;
    }
  }

  .heroImg {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    @include min-xl {
      max-width: rem(780px);
    }
  }
}