.container {
  z-index: 20;
  img {
    max-width: 560px !important;
    width: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    cursor: pointer;
  }
}
