.container {
  overflow-x: auto !important;
  position: relative !important;
  overflow-y: auto !important;
  height: 100vh !important;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: transform 0s linear;
  scrollbar-color: #fa8e70 rgba(255, 255, 255, .2);
  scrollbar-width: thin;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: white !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #F6F5EF;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #fa8e70;
    background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
  }
  :global .chakra-table {
    background-color: #F6F5EF;
    thead {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
      margin-bottom: 4px;
      background-color: #F6F5EF;
      z-index: 100;
      tr {
        th {
          padding-top: 16px;
          text-transform: capitalize;
          letter-spacing: 0;
          font-weight: 500;
        }
      }
    }

    tbody {
      tr {
        &.isActiveRow {
          background-color: rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
      }
    }

    th,
    td {
      padding: 8px;
    }

    tbody,
    tfoot {
      :global {
        .notOnTdRow {
          &:last-child {
            td {
              border-bottom-color: transparent;
            }
          }
        }

        .onTdRow {
          &:last-child {
            tr {
              &:last-child {
                td {
                  border-bottom-color: transparent;
                }
              }
            }
          }

          tr {
            &:first-child {
              td {
                border-bottom-color: transparent;
              }
            }
          }
        }

        .pagingContainer {
          p {
            font-size: rem(14);
          }

          button {
            width: 30px;
            height: 30px;

            svg {
              font-size: rem(22);
              color: black;
            }
          }
        }
      }
    }
  }
}

.loading {
  align-self: center;
  background-color: red;
  width: 100%;
}

.item {
  vertical-align: top;
  .emptyLabel {
    color: var(--naka-chakraContent) !important;
  }

  .modalText {
    color: var(--naka-chakraContent);
  }

  :global {
    .chakra-text {
      color: var(--naka-notiChakra);
    }
  }
}
