.wrapper {
  background: #000;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }

  .left {
    &_btn {
      display: flex;
      gap: 8px;
      align-items: center;
      font-family: var(--font-JetBrainsMono);
      font-size: 14px;
      font-weight: 700;
      line-height: 18.2px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &_item {
      position: relative;
      padding-left: 24px;
      padding-right: 24px;

      &:before {
        content: '';
        display: block;
        border-right: 1px solid rgba(white, .5);
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 0;
      }

      &:last-child {
        padding-right: 0;

        &:before {
          border-right: none;
        }
      }
    }
  }
}
