.heading {
  &_mouse{
    animation: loopFrames .75s ease-out infinite;
    color: #fa4e0e;
  }
}

@keyframes loopFrames {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
