.options {
  display: flex;
  gap: 18px;
  position: relative;

  &.isLabel {
    user-select: none !important;
    -webkit-user-drag: none !important;

    &:hover {
      z-index: 9999 !important;
    }
  }
}

.tooltip {
  z-index: 9999999;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  position: absolute;
  min-width: 250px;
  padding: 10px;
  bottom: calc(100% - 5px);
  border-radius: 12px;
  opacity: 0;

  &.isRight {
    right: 0px;
    left: auto;

    &:after {
      left: unset;
      right: 20px;
    }
  }

  &.isBottom {
    bottom: auto;
    top: calc(100% - 5px);

    &:after {
      top: unset;
      bottom: 100%;
      border-bottom-color: #fff;
      border-top-color: transparent;
    }
  }

  &.isHover {
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #fff;
  }
}
