.legoItem {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  &_inner {
    aspect-ratio: 1;
    transition: background 0.4s var(--easeOutQuart);

    &:hover {
      background: #eeeeee;
    }
  }
  &_thumbnail {
    padding: 64px 22px 50px 22px;

    @include is-mobile {
      padding: 32px 11px 23px 11px;
    }
  }
  &_title {
    position: absolute;
    bottom: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    padding: 16px;
    border-top: 1px solid #e6e6e6;
    text-transform: uppercase;
    width: 100%;

    @include is-mobile {
      font-size: 10px;
      padding: 8px;
    }
  }

  position: relative;

  @include is-mobile {
    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          270deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 53.5%,
          rgba(236, 236, 236, 0) 100%
        );
      }
    }
  }

  @include is-tablet {
    &:nth-child(3) {
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        background: #ececec;
      }
    }

    &:nth-child(1) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(
          -180deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }

    &:nth-child(2) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          270deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }
    &:nth-child(5) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(
          0deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }

    &:nth-child(6) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          270deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }
  }

  @include is-pc {
    &:nth-child(2) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: #ececec;
      }
    }

    &:nth-child(1) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(
          -180deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }

    &:nth-child(3) {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          270deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          -180deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }

    &:nth-child(4) {
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(
          0deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }

    &:nth-child(6) {
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(
          0deg,
          rgba(236, 236, 236, 0) 0%,
          #ececec 100%
        );
      }
    }
  }
}

.boxWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.boxs {
  border-radius: 100px;
  border: 1px solid #ececec;
  background: #fff;
  box-shadow: 0px 0px 32px -6px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  list-style: none;

  li {

    width: 40px;
    flex: 0 0 auto;
    height: 40px;

    img {
      object-fit: contain;
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
    }
  }
}
