.container {
  position: absolute;
  left: -200px;
  top: 0px;
  width: 180px;
  border: 1px solid #ccc;
  .header {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    p {
      font-size: 12px;
    }
  }
  .item {
    cursor: pointer;
    p {
      font-size: 14px;
    }
    &:hover {
      p {
        color: #fa4e0e;
      }
    }
  }
  .scroll {
    scrollbar-color: #ccc #f5f5f5;
    scrollbar-width: thin;
  }
}
