.container {
  //background: #FFFFFF1A;
  //box-shadow: 0px 0px 24px -6px #0000001F;
  width: 100%;
  //height: 36px;
  //padding: 4px;
  transition: all 0.3s;
  gap: 4px;
  //border: 1px solid rgba(255, 255, 255, 0.1);

  .btn {
    width: 100%;
    background: transparent;
    color: #FFFFFF80;
    border-radius: 0px;
    padding: 0 12px;
    font-weight: 500;
    font-size: 12px;
    height: 24px;
    text-transform: uppercase;
    @include is-mobile{
      height: 34px;
    }
    &.active {
      color: #FFFFFF;
      background: rgba(255, 255, 255, 0.1);
      font-weight: 500;
    }
  }
}
