.wrap{
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  height: 520px;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  background-color: #1B1B1B;
}

.container {
  &__title {
    align-self: stretch;
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 8px;
  }
}

.itemWrapper {
  &:global(.chakra-accordion__item) {
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: rgba(white, .06);
    border: 1px solid rgba(255, 255, 255, 0.06);
    button {
      padding: 12px 20px;

      svg path{
        stroke: #FFFFFF !important;
      }
    }
  }

  :global(.chakra-collapse){
    padding: 10px 16px !important;
    padding-bottom: 0 !important;
  }

  &_title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    white-space: nowrap;

    img {
      max-width: 214px;
    }

    @include is-mobile {
      font-size: 14px;
    }

    &__active {
      color: #FFFFFF;
      //background-color: rgba(white, .08);
    }
  }
  &_desc {
    color: rgba(white, .7);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    b, strong{
      color: white;
    }

    @include is-mobile {
      font-size: 14px;
    }


  }
  &_header {
    padding: 10px 16px !important;
    background-color: rgba(black, .8);
    //border: 1px solid rgba(white, .10);
    cursor: default !important;

    button {
      padding: 0 !important;
      display: none;
    }

    &__active {
      background-color: transparent;
      border: 0 !important;
      border-bottom: 1px solid rgba(white, .07) !important;

      button {
        display: block;
      }
    }

  }
  &_downArrow {
    transform: rotate(270deg);
  }

  &_normalArrow {
    transform: rotate(90deg);
    svg {
      path {
        stroke: black;
      }
    }
  }

  &_learnMore {
    color: #FA4E0E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
    align-items: center;
  }
}
