.marketplace {
  background: #ffffff;
  padding-top: 32px;
  font-family: 'Urbanist';
  overflow: hidden;

  @include is-tablet {
    padding-top: 80px;
  }

  @include is-pc {
    padding-top: 160px;
  }

  .wrapContent {
    width: 100%;
    max-width: 620px;
    color: #000;
    text-align: center;
    margin: 0 auto 34px auto;

    @include is-tablet {
      max-width: 100%;
    }

    @include is-pc {
      margin-bottom: 68px;
    }
  }

  &_title {
    margin: 24px 0;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    @include is-pc {
      font-size: 68px;
    }
  }

  &_content {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Helvetica Neue';
    line-height: 1.5;
    @include is-pc {
      font-size: 20px;
    }
  }

  &_image {
    width: 100%;
    max-width: 1313px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.mainLable {
  font-family: 'Space Mono';
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  color: #000;
  @include is-pc {
    font-size: 14px;
  }
}


.action {
  margin-top: 24px;
}
