.marketplace {
  background: #ffffff;
  padding-top: 32px;
  font-family: 'Urbanist';
  overflow: hidden;

  @include is-pc {
    padding-top: 160px;
  }

  .wrapContent {
    width: 100%;
    max-width: 800px;
    color: #000;
    text-align: center;
    margin: 0 auto 34px auto;

    @include is-tablet {
      max-width: 100%;
    }

    @include is-pc {
      margin-bottom: 68px;
    }
  }

  &_title {
    margin-bottom: 24px;
    text-align: start;
    font-size: 36px;

    @include is-pc {
      text-align: center;
      font-size: 68px;
    }
  }

  &_content {
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue";
    @include is-pc {
      text-align: center;
      font-size: 20px;
    }
  }

  &_image {
    width: 100%;
    max-width: 1313px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}
