.container {
  font-family: var(--font-dmsans);
  background-color: #f3f1e8;

  .font2 {
    font-family: var(--font-JetBrainsMono) !important;
  }

  .tabContainer {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .tabList {
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ffffff26;

    > button {
      background: none;
      border: none;
      color: #000;
      opacity: 50%;
      font-weight: 400;

      font-family: var(--font-JetBrainsMono) !important;
      flex: unset;
      position: relative;
      text-align: center;

      &[aria-selected='true'] {
        opacity: 1;
        font-weight: 700;
        font-family: var(--font-JetBrainsMono) !important;
        color: #fa4e0e !important;

        &::after {
          content: '';
          display: block;
          height: 1px;
          width: 160px;
          background-color: #fa4e0e !important;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .tabPanel {
    > [role='tabpanel'] {
      padding: 0;
      border-color: transparent !important;
    }
    border-color: transparent !important;
  }
}
