.landing {
    background: #000;
    overflow: hidden;
    padding-bottom: 150px;

    .introduction {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10%;
        margin-bottom: 80px;
        margin-left: 0;



        .introduction_title {
            color: #FFF;
            font-family: "JetBrains Mono";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            max-width: 28ch;
        }

        .introduction_desc {
            color: rgba(255, 255, 255, 0.60);
            font-family: "SF Pro Display";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 180%;
            max-width: 80ch;

            /* 36px */
            letter-spacing: 0.6px;
            margin-top: 24px;
        }

        .introduction_links {



            .link_item {
                display: flex;
                align-items: center;
                gap: 12px;
                color: #FFF;
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 25.2px */
            }

            .link {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--Color-newsystem-Secondary-Orange, #FF7E21);
                font-family: "SF Pro Display";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */

                &:hover {
                    text-decoration: underline;
                }

            }

            .icon_link {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                // background: #FFF;
                display: grid;
                place-items: center;
            }
        }

        @include is-mobile {
            flex-direction: column;
            gap: 24px;
            margin-top: 40px;
            margin-bottom: 40px;

            .introduction_title {
                font-size: 36px;
            }

            .introduction_desc {
                font-size: 16px;
            }

            .introduction_links {
                .link_item {
                    font-size: 16px;
                }

                .link {
                    font-size: 12px;
                }
            }
        }

        @media screen and (max-width: 500px) {
            margin-top: 0;
        }


    }


    .tech_wrapper {
        // grid 2 rows
        display: grid;
        grid-template-columns: repeat(5, 140px);
        gap: 12px;

        @include is-mobile {
            grid-template-columns: repeat(2, 140px);
        }



    }

    .tech_block {
        // width: 140px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        color: var(--Color-newsystem-White-100, #FFF);
        font-family: "SF Pro Display";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        align-items: center;
        justify-content: center;
        /* 19.6px */
        transition: all 0.3s ease;

        &:hover {
            border-color: rgba(255, 255, 255, 0.70);
        }
    }


    .tag {
        color: #fff;
        font-family: "JetBrains Mono";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;


    }

    .title {
        color: #FFF;
        font-family: "JetBrains Mono";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;

    }


    .desc {
        color: rgba($color: #fff, $alpha: 0.6);

        font-family: "SF Pro Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%;
        /* 36px */
        letter-spacing: 0.6px;
        margin-bottom: 40px;
        max-width: 85ch;
        margin-top: 24px;
    }

    @include is-mobile {
        .tag {
            font-size: 28px;
            max-width: 100%;

        }

        .title {
            font-size: 28px;
            max-width: 100%;

        }

        .desc {
            font-size: 14px;
            max-width: 100%;
        }
    }

    .last_section {
        .cta_btn {
            width: 190px;
            height: 48px;
            padding: 0px 32px;
            border-radius: 100px;
            text-transform: uppercase;
            font-family: "JetBrains Mono";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: grid;
            place-items: center;
            transition: all 0.3s ease;

            &:hover {
                opacity: 0.75;
            }
        }

        .primary {
            background: var(--1, linear-gradient(90deg, #FFE259 0%, #FFA751 100%));
            color: #000;


        }

        .primary_outline {
            // width: 150px;
            background: linear-gradient(black, black) padding-box,
                linear-gradient(90deg, #FFE259 0%, #FFA751 100%) border-box;
            border-radius: 50em;
            border: 1px solid transparent;

            span {
                background: var(--1, linear-gradient(90deg, #FFE259 0%, #FFA751 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

}