.lego {
  padding: 140px 0;
  background: #ffffff;

  @include is-mobile {
    padding-top: 32px;
    padding-bottom: 44px;
  }

  &_heading {
    max-width: 989px;
    padding-bottom: 68px;

    @include is-mobile {
      padding-bottom: 32px;
    }
    &_title {
      color: #000;
      text-align: left !important;
    }

    &_description {
      max-width: 850px;
      color: #000;
      text-align: unset !important;

      @include is-mobile {
        margin-bottom: 12px;
      }
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    gap: 16px;

    @include is-tablet {
      flex-direction: column-reverse;
    }

    @include is-mobile {
      flex-direction: column-reverse;
      gap: 8px;
    }
  }
  &_bg {
    background: #44955b;
    max-width: 923px;
    width: 62.5%;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }

    @include is-tablet {
      width: 100%;
      max-width: unset;
    }
    @include is-mobile {
      width: 100%;
    }
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15.5px;
    column-gap: 16px;
    flex: 1;

    @include is-mobile {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 8px;
      column-gap: 9px;
    }
    @include is-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
