.lego {
  padding: 140px 0;
  background: #FFFFFF;

  @include is-mobile {
    padding: 80px 0;
  }

  &_heading {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &_title {
      color: #000;
    }

    &_description {
      max-width: 850px;
      color: #000;
    }
  }

  &_content {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include is-mobile {
      padding-top: 24px;
      grid-template-columns: repeat(1, 1fr);
    }
    @include is-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
