.containerV3 {
  max-width: calc(2040px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;


  @include is-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include is-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
