.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 700px;

    margin-top: 8px;
  }

  .desc {
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
  }

  .form {
    width: 100%;
  }

  .inputContainer {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid transparent;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .input {
    height: 100%;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    background-color: transparent;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .button {
    width: 100% !important;
    color: #fff;

    &_svg {
      //z-index: -1;
      height: 100%;
      width: 100%;
      position: absolute;

      svg {
        width: 100%;
      }
    }

    &_text {
      z-index: 1;
      color: #000;
      font-family: var(--reem-kufi);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      text-transform: uppercase;
    }
  }
  
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  // @include w-max(768px) {
  //   grid-template-columns: 1fr 1fr;
  // }

  // @include w-max(468px) {
  //   grid-template-columns: 1fr;
  // }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 0px;
    background-color: #1C1C1C;
    padding: 28px 32px;
    background-color: #1C1C1C;
    min-width: 380px;
    width: fit-content;

    @include w-max(768px) {
      min-width: 320px;
    }
  }

  .item_title {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .item_desc {
    text-align: center;
    font-size: 28px;
    margin-top: 12px;
    font-weight: 700;
    line-height: 30px;
  }

  .btn {
    height: 16px;
    opacity: 0.8;
    cursor: pointer;
  }
}
