.title,
.desc {
  color: white;
}
.title {
  font-size: 20px;
  font-weight: 800;
}

.desc {
  font-size: 12px;
}

.chartWrapper {
  background-color: #fff;
  margin-top: 10px;
  :global {
    .highcharts-credits {
      display: none !important;
    }
    .highcharts-point {
      fill: rgba(250, 78, 14, 0.5);
      &:hover {
        fill: rgba(250, 78, 14, 1);
      }
    }
    .tooltip-title {
      font-size: 15px;
      font-weight: 500;
      display: block;
    }
    .tooltip-desc {
      font-size: 14px;
      font-weight: 700;
      min-width: 100px;
      display: block;
      padding: 5px 0px;
    }
    .chakra-tabs {
      padding: 12px 0px;
    }
    .chakra-tabs__tablist {
      background-color: #f5f5f5;
      margin: 8px auto;
      align-self: flex-start;
      border-radius: 100px;
      overflow: hidden;
      width: fit-content;
      padding: 4px !important;
      border: none;
      button {
        margin-bottom: 0px !important;
        outline: none !important;
        outline-offset: 0px !important;
        border: none !important;
        opacity: 0.7;
        border-radius: 100px;
        &[aria-selected='true'] {
          background-color: #fff;
          border: none;
          color: #000;
          opacity: 1;
        }
      }
    }
  }
}
