.botSection {
  // max-width: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  @include is-mobile {
    max-width: unset;
  }
  &_title {
    color: #000;
    font-family: var(--font-dmsans);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    @include is-mobile {
      font-size: 16px;
    }
  }
  &_decs {
    color: #000;
    font-family: var(--font-dmsans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 8px;

    @include is-mobile {
      font-size: 14px;
    }
  }
  &_button {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    padding-top: 16px;

    p {
      color: #585b7f;
      font-family: var(--font-dmsans);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
}
