.botSection {
  max-width: 428px;

  @include is-mobile {
    max-width: unset;
  }
  &_title {
    color: #000;
    font-family: var(--font-hind);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    @include is-mobile {
      font-size: 16px;
    }
  }
  &_decs {
    padding-top: 8px;
    font-family: var(--font-hind);
    font-size: 18px;
    font-style: normal;
    min-height: 54px;
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include is-mobile {
      font-size: 14px;
    }
  }
}
