.btnWrapper {
  grid-gap: 16px;
  grid-template-columns: 2fr 1fr;

  @include is-mobile {
    grid-template-columns: 1fr;
  }
}

.btnContainer {
  height: 48px !important;
  padding: 8px 60px !important;
  border-radius: 0px !important;
  background: #fa4e0e !important;
  color: #fff !important;
  width: 100%;
  font-weight: normal !important;
  gap: 8px;
  &.btnBuyAsGuest {
    background: #ffffff !important;
    color: #000000 !important;
  }
}

.copyLinkContainer {
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}

.modalHeader {
  p {
    color: #ffffff;
  }
}

.modalContent {
  background-color: #292929 !important;
  &.deposit {
    max-width: 600px !important;
  }
  &.notSignModal {
    max-width: 300px !important;
  }
}

.btnTweetToSign {
  width: 100% !important;
  justify-content: flex-start !important;
  gap: 12px !important;
  padding: 6px !important;
  height: auto !important;
  border-radius: 0px !important;
  background: #ffffff !important;
  p {
    color: #000000 !important;
    font-weight: 400 !important;
    line-height: 100% !important;
  }
  &.btnPrimary {
    background: #fa4e0e !important;
    p {
      color: #ffffff !important;
    }
  }
  .boxIcon {
    width: 36px;
    height: 36px;
    background-color: #000000;
    &.boxIconWhite {
      background-color: white;
    }
    .iconWhite {
      color: white;
      path {
        fill: #fff;
      }
    }
  }
}

.btnImport {
  background: #fa4e0e !important;
}
