.modalBody {
  :global(.chakra-modal__body) {
    padding: 0 !important;
  }
}

.export_btn {
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: white;
    cursor: pointer;
  }
}