.avatarItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(100% / 13);
  margin-bottom: 36px;
  margin-left: 14px;
  margin-right: 14px;
  position: relative;

  .lt {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s ease-out;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.isRun {
      opacity: 1;
    }
  }

  .lottie {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;

    svg {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &_inner {
    position: relative;

    .king {
      position: absolute;
      top: -10px;
      right: 0;
      z-index: 1;
      width: 40px;
      height: 40px;
    }
  }

  .meta {
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
  }

  .name {
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    //top: 100%;
    width: 100%;
    left: 50%;
    margin-top: 2px;
    transform: translateX(-50%);

    &.isYou {
      background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &:not(.isYour) {
      @include fixTextLargeLen(60px);
      @include is-min-table {
        @include fixTextLargeLen(80px);
      }
    }
  }

  .price {
    font-size: 14px;
    background: white;
    border-radius: 100px;
    font-weight: 500;
    color: #000;
    padding: 4px 15px;
    line-height: 1.4;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    display: none;
  }

  &.isYou {
    .avatarItem_avatar {
      border-color: #FFE259 !important;
    }
  }

  &_avatar {
    border-radius: 50%;
    box-shadow: 0px 0px 40px -6px #0000001F;
    border: 3px solid #fff;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 45.22%, rgba(0, 0, 0, 0.07) 51.83%, rgba(0, 0, 0, 0.56) 95.21%);
      position: absolute;
      top: 0;
      left: 0;
    }

    * {
      width: 32px !important;
      height: 32px !important;
      max-width: none !important;
    }
  }

  &:global(.level-0) {
    margin-bottom: 80px;
    margin-top: 24px;

    .price {
      font-size: 14px;
      background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
      color: white;
      margin-bottom: 5px;
      padding: 5px 15px;
    }

    .name {
      font-size: 14px;
      @include fixTextLargeLen(150px);
    }

    .avatarItem_avatar {
      * {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }

  &:global(.level-1) {
    margin-bottom: 80px;

    margin-left: clamp(14px, #{vw(60px)}, 18px);
    margin-right: clamp(14px, #{vw(60px)}, 18px);

    .price {
      font-size: 12px;
      background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    }

    .name {
      @include fixTextLargeLen(100px);
    }

    .avatarItem_avatar {
      * {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }

  &:global(.level-2) {
    margin-bottom: 80px;
    margin-left: clamp(14px, #{vw(48px)}, 20px);
    margin-right: clamp(14px, #{vw(48px)}, 20px);

    .price {
      font-size: 10px;
    }

    .avatarItem_avatar {
      * {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }

  &:global(.level-3) {

    margin-bottom: 80px;
    margin-left: clamp(14px, #{vw(48px)}, 20px);
    margin-right: clamp(14px, #{vw(48px)}, 20px);

    .price {
      font-size: 10px;
    }

    .avatarItem_avatar {
      * {
        width: 48px !important;
        height: 48px !important;
      }
    }
  }

  &:global(.level-4) {
    margin-bottom: 80px;
    margin-left: clamp(12px, #{vw(32px)}, 18px);
    margin-right: clamp(12px, #{vw(32px)}, 18px);

    .price {
      font-size: 10px;
      padding: 4px clamp(4px, #{vw(32px)}, 8px);
    }

    .avatarItem_avatar {
      * {
        width: 32px !important;
        height: 32px !important;
      }
    }

    &.isYou {
      .price {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
      }
    }
  }

  &:global(.level-5) {
    margin-bottom: 48px;
    margin-left: clamp(12px, #{vw(32px)}, 18px);
    margin-right: clamp(12px, #{vw(32px)}, 18px);

    .price {
      font-size: 10px;
      padding: 4px clamp(4px, #{vw(32px)}, 8px);
    }

    .avatarItem_avatar {
      * {
        width: 32px !important;
        height: 32px !important;
      }
    }

    &.isYou {
      .price {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
      }
    }
  }

  &:global(.level-6) {
    margin-bottom: 48px;
    margin-left: clamp(12px, #{vw(32px)}, 18px);
    margin-right: clamp(12px, #{vw(32px)}, 18px);

    .price {
      font-size: 10px;
      padding: 4px clamp(4px, #{vw(32px)}, 8px);
    }

    .avatarItem_avatar {
      * {
        width: 32px !important;
        height: 32px !important;
      }
    }

    &.isYou {
      .price {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
      }
    }
  }


  @include is-min-table {
    &__1, &__3 {
      transform: translateY(-5px);
    }
    &__4, &__8 {
      transform: translateY(-10px);
    }

    &__10, &__13 {
      transform: translateY(-5px);
    }

    &__9, &__14 {
      transform: translateY(-20px);
    }

    &__17, &__20 {
      transform: translateY(-2px);
    }

    &__16, &__21 {
      transform: translateY(-10px);
    }

    &__15, &__22 {
      transform: translateY(-32px);
    }
  }


}

.isYou {
  .price {
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%) !important;
    color: black !important;
  }

}
