.avatarItem {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(100% / 13);
  margin-bottom: 36px;
  margin-left: 14px;
  margin-right: 14px;
  position: relative;

  .lottie {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;

    svg {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &_inner {
    position: relative;
  }

  .meta {
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
  }

  .name {
    font-size: clamp(12px, #{vw(160px)}, 16px);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 2px;
    @include fixTextLargeLen(150px)
  }

  .price {
    font-size: clamp(10px, #{vw(38px)}, 14px);
    background: white;
    border-radius: 100px;
    font-weight: 500;
    color: #000;
    padding: 6px 12px;
    line-height: 1.4;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    display: none;
  }

  &_avatar {
    border-radius: 50%;
    box-shadow: 0px 0px 40px -6px #0000001F;
    border: 6px solid #fff;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 45.22%, rgba(0, 0, 0, 0.07) 51.83%, rgba(0, 0, 0, 0.56) 95.21%);
      position: absolute;
      top: 0;
      left: 0;
    }

    * {
      width: 32px !important;
      height: 32px !important;
      max-width: none !important;
    }

  }


  &:global(.level-0) {
    margin-bottom: 48px;
    margin-top: 24px;

    .price {
      font-size: clamp(14px, #{vw(160px)}, 22px);
      background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
      color: white;
      padding: 6px clamp(16px, #{vw(160px)}, 20px);
    }

    .name {
      font-size: clamp(16px, #{vw(160px)}, 20px);
      margin-bottom: 5px;
    }

    .avatarItem_avatar {
      * {
        width: 160px !important;
        height: 160px !important;
      }
    }
  }

  &:global(.level-1) {
    margin-bottom: 48px;

    margin-left: clamp(14px, #{vw(110px)}, 19px);
    margin-right: clamp(14px, #{vw(110px)}, 19px);

    .price {
      font-size: clamp(12px, #{vw(110px)}, 18px);
      background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    }


    .avatarItem_avatar {
      * {
        width: 110px !important;
        height: 110px !important;
      }
    }
  }

  &:global(.level-2) {
    margin-bottom: 40px;
    margin-left: clamp(14px, #{vw(80px)}, 20px);
    margin-right: clamp(14px, #{vw(80px)}, 20px);

    .price {
      font-size: clamp(12px, #{vw(80px)}, 16px);
    }

    .avatarItem_avatar {
      * {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }

  &:global(.level-3) {
    //flex: 0 0 calc(100% / 6);
    //margin-bottom: 27px;


    .price {
      font-size: clamp(12px, #{vw(60px)}, 14px);
      padding: 4px clamp(4px, #{vw(60px)}, 8px);
    }

    margin-left: clamp(12px, #{vw(60px)}, 18px);
    margin-right: clamp(12px, #{vw(60px)}, 18px);

    .avatarItem_avatar {
      * {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }

  &:global(.level-4) {
    margin-bottom: 48px;
    margin-left: clamp(12px, #{vw(36px)}, 18px);
    margin-right: clamp(12px, #{vw(36px)}, 18px);

    .price {
      font-size: clamp(10px, #{vw(36px)}, 12px);
      padding: 4px clamp(4px, #{vw(36px)}, 8px);
    }

    .avatarItem_avatar {
      * {
        width: 36px !important;
        height: 36px !important;
      }
    }
  }

  &.isYou {
    .price {
      font-size: clamp(10px, #{vw(60px)}, 12px);
      background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    }

    .name {
      font-size: clamp(12px, #{vw(60px)}, 14px);
    }
  }
}


