.avatarItem {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(100% / 13);
  margin-bottom: 36px;
  margin-left: 14px;
  margin-right: 14px;

  &_inner {
    position: relative;
  }

  .price {
    font-size: clamp(10px, #{vw(38px)}, 14px);
    background: white;
    border-radius: 100px;
    font-weight: 500;
    position: absolute;
    color: #000;
    padding: 6px 12px;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    line-height: 1.4;
  }

  .title {
    display: none;
  }

  &_avatar {
    border-radius: 50%;
    box-shadow: 0px 0px 40px -6px #0000001F;
    border: 6px solid #fff;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1/1;
    overflow: hidden;

    * {
      width: 32px !important;
      height: 32px !important;
      max-width: none !important;
      //object-fit: cover;
    }


  }


  &:global(.level-0) {
    //flex: 0 0 100%;
    margin-bottom: 48px;

    .price {
      font-size: clamp(14px, #{vw(212px)}, 22px);
      background: linear-gradient(180deg, #FF9776 0%, #FF8139 32.81%, #E04300 100%);
      color: white;
      padding: 6px clamp(16px, #{vw(212px)}, 20px);
    }

    .avatarItem_avatar {
      * {
        width: 200px !important;
        height: 200px !important;
      }
    }
  }

  &:global(.level-1) {
    //flex: 0 0 calc(100% / 3);
    margin-bottom: 48px;

    margin-left: clamp(14px, #{vw(140px)}, 19px);
    margin-right: clamp(14px, #{vw(140px)}, 19px);

    .price {
      font-size: clamp(12px, #{vw(140px)}, 18px);
      background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    }

    .avatarItem_avatar {
      * {
        width: 140px !important;
        height: 140px !important;
        //object-fit: cover;
      }
    }
  }

  &:global(.level-2) {
    //flex: 0 0 calc(100% / 5);
    //margin-bottom: 27px;
    margin-bottom: 40px;
    margin-left: clamp(14px, #{vw(92px)}, 20px);
    margin-right: clamp(14px, #{vw(92px)}, 20px);

    .price {
      font-size: clamp(12px, #{vw(92px)}, 16px);
    }

    .avatarItem_avatar {
      * {
        width: 92px !important;
        height: 92px !important;
        //object-fit: cover;
      }
    }
  }

  &:global(.level-3) {
    //flex: 0 0 calc(100% / 6);
    //margin-bottom: 27px;



    .price {
      font-size: clamp(12px, #{vw(80px)}, 16px);
    }

    margin-left: clamp(12px, #{vw(80px)}, 18px);
    margin-right: clamp(12px, #{vw(80px)}, 18px);

    .avatarItem_avatar {
      * {
        width: 80px !important;
        height: 80px !important;
        //object-fit: cover;
      }
    }
  }

  &:global(.level-4) {
    //flex: 0 0 calc(100% / 8);
    margin-bottom: 24px;
    margin-left: clamp(12px, #{vw(60px)}, 18px);
    margin-right: clamp(12px, #{vw(60px)}, 18px);

    .price {
      font-size: clamp(12px, #{vw(60px)}, 14px);
    }

    .avatarItem_avatar {
      * {
        width: 50px !important;
        height: 50px !important;
        //object-fit: cover;
      }
    }
  }
}


