.title {
  font-family: 'Urbanist';
  font-size: rem(36px);
  line-height: rem(39px);
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  &.spanOpacity {
    span {
      opacity: 0.6;
    }
  }

  &.spanWhite {
    color: #9a9aa0 ;
    >span {
      color: #ffffff;
    }
  }

  &.black {
    color: #000;
  }

  @include is-pc {
    font-size: rem(68px);
    line-height: rem(74.8px);
    text-align: left;

  }
}
