.title {
  font-family: 'Helvetica Neue';
  font-size: 36px;
  // line-height: 79.2px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  &.spanOpacity {
    span {
      opacity: 0.6;
    }
  }

  &.spanWhite {
    color: #9a9aa0;
    > span {
      color: #ffffff;
    }
  }

  &.black {
    color: #000;
  }

  @include is-pc {
    font-size: 68px;
    text-align: left;
  }
}
