.banner {
  background: #FA4E0E;
  animation: bg .8s 5s ease-in-out forwards;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px;
  z-index: 3;

  font-family: var(--font-SFProDisplay);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;

  img {
    margin-right: 4px;
    line-height: 0;
    display: inline-block;
    margin-bottom: -8px;

  }

  * {
    display: inline-block;
  }


  strong {
    font-weight: 700;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      path {
        animation: filterBg .8s 5s ease-in-out forwards;
      }
    }
  }

}

@keyframes bg {
  0% {
    color: white;
    background: #FA4E0E;
  }

  100% {
    color: black;
    background: #FAFAFA;
  }
}

@keyframes filterBg {
  0% {
    stroke: white
  }

  100% {
    stroke: black
  }
}
