.sectionTop {
  position: relative;
  width: 100%;
  aspect-ratio: 1.315;

  &_wrap {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  &_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &_studs {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;

    &_item {
      width: 33.72px;
      height: 16px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.bg__FFD73B {
  background: #ffd73b;
}

.bg__35CCA6 {
  background: #35cca6;
}

.bg__4DBDE0 {
  background: #4dbde0;
}

.bg__000 {
  background: #000;
}

.bg__EBEFF7 {
  background: #ebeff7;
}
.bg__B4EDFF {
  background: #b4edff;
}
.bg__E5E5E5 {
  background: #e5e5e5;
}
.bg__F0B9FE {
  background: #f0b9fe;
}
.bg__FF9999 {
  background: #ff9999;
}
