.listChains {
  display: flex;
  flex-direction: row;
  gap: 36px;
  flex-wrap: wrap;
  overflow: hidden;

  @include is-mobile {
    width: 100%;
    padding: 0 20px;
    gap: 8px;
  }

  @include is-tablet {
    gap: 20px;
    justify-content: center;
  }
}

.chain {
  background: #f6f6f6;

  @include is-mobile {
    background: #fff;
  }
  @include is-tablet {
    background: #fff;
  }

  &_case {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &_label {
    @include is-mobile {
      padding-top: 24px;
      padding-bottom: 40px;
    }
    @include is-tablet {
      padding-top: 24px;
      padding-bottom: 40px;
    }
  }

  &_inner {
    background: #f6f6f6;
    padding: 100px 0;

    @include is-mobile {
      position: relative;
      overflow: hidden;
      left: -20px;
      width: calc(100% + 40px);
      padding-top: 32px;
      padding-bottom: 30px;
    }
  }

  &_label {
    background: #fff;
  }
}
