.listChains {
  display: grid;
  gap: 36px;
  overflow: hidden;
  justify-content: center;

  @include is-mobile {
    width: 100%;
    padding: 0 20px;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
  }

  @include is-tablet {
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  @include is-pc {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include is-pc-wide{
    grid-template-columns: repeat(5, 1fr);
  }
}

.chain {
  background: #f6f6f6;
  overflow: hidden;

  &_case {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &_label {
    @include is-mobile {
      padding-top: 24px;
      padding-bottom: 40px;
    }
    @include is-tablet {
      padding-top: 24px;
      padding-bottom: 40px;
    }
  }

  &_heading {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &_inner {
    background: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 82px;

    @include is-mobile {
      position: relative;
      overflow: hidden;
      left: -20px;
      width: calc(100% + 40px);
      padding-top: 32px;
      padding-bottom: 30px;
    }
  }

  &_label {
    background: #fff;
  }
}
