.heading {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include is-tablet {
    max-width: unset;
    width: 560px;
  }
  @include is-pc {
    max-width: unset;
    width: 798px;
  }

}

.wrap {
}

.desc {
  margin-top: 20px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: black;
  font-size: 16px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include is-min-table {
    font-size: 18px;
    max-width: 100%;
  }

  @include is-pc {
    font-size: 18px;
    max-width: 522px;
    margin-left: auto;
    margin-right: auto;
  }
}
