.heading {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  @include is-tablet {
    width: 560px;
  }
  @include is-pc {
    width: 798px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}
