.inputAmountWrap {
  margin-bottom: 8px;

  :global .chakra-input__left-element {
    margin: 0;
    width: unset;
    border-right: 1px solid #5b5b5b;
  }

  :global .chakra-input__right-element {
    padding-right: 16px;
    margin: 0;
  }

  :global .chakra-form__error-message {
    font-size: 12px;
  }

  :global .chakra-input__group {
    background: transparent;
  }
}

.inputAmount {
  font-size: 14px !important;
  height: 48px !important;
  font-weight: 500 !important;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #000;
  border: none;
  color: #fff;
  border: 1px solid transparent;
  //text-align: center !important;

  &:focus-visible {
    border-color: #fff;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px !important;
  }
}

.btnContinue {
  width: 100%;
}

.btnBuyKey {
  height: 34px !important;
  padding: 0 !important;
  //min-width: 150px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.wrapTwitter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.container {
  margin-top: 6px;

  .profile_detail {
    display: flex;
    color: #000;
    gap: 8px;
    align-items: center;
  }

  .profile_name {
    display: flex;
    flex-direction: column;

    p:first-of-type {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: white;
    }

    p:last-of-type {
      font-size: 10px;
      line-height: 16px;
      opacity: 0.7;
      color: white;
    }
  }

  .profile_warning__hadAccount {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 4px;

    p {
      font-size: 12px;
      color: #fff;
      opacity: 0.7;
    }
  }

  .profile_warning__notExist {
    font-size: 12px;
    color: #ff4747;
    margin-top: 16px;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  button {
    background-color: #fff;
    border-radius: 1000px;
    padding: 10px 0;
    border: none;
  }

  .cta_content {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px 0;
    gap: 4px;
    width: 100%;
  }
}
