.container {
  padding: 40px 0;
  background: #FFF;

  .back {
    cursor: pointer;

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.03em;
      color: #FA4E0E;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 60px;
    gap: 40px;

    .avatar {
      width: 120px;
      height: 120px;
      //background: #FAFAFA;
      border-radius: 18px;
    }

    .title {
      color: #000;
      font-size: 40px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.01em;
      font-family: SF Pro Display;
    }

    .description {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.01em;
      opacity: 0.7;
      font-family: SF Pro Display;
    }

    .status {

    }
  }
}

.modalContent {
  background: #FFF !important;
  min-width: 1120px !important;
  padding: 20px 0 !important;

  :global {
    .chakra-modal__close-btn {
      border: 1px solid #5B5B5B;
      border-radius: 100%;

      svg {
        path {
          fill: #5B5B5B;
        }
      }
    }
  }
}
