.wrap {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  //background-color: #1b1b1b;
}

.container {
  &_header {
    @include is-mobile {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  &_item {
    display: flex;
    flex-direction: column;
    border: 1px solid #EFEFEF;
    background: #FAFAFA;
    padding: 12px;

    &_inner {
      //'game', 'nake', 'modular', 'social', 'ai'
      &.game {
        > div {
          &:first-child {
            background-color: #FFD73B;
          }
          &:last-child {
            background-color: #A05700;
          }
        }
      }

      &.naka {
        > div {
          &:first-child {
            background-color: #FF9999;
          }
          &:last-child {
            background-color: #B74D4D;
          }
        }
      }

      &.modular {
        > div {
          &:first-child {
            background-color: #F0B9FE;
          }
          &:last-child {
            background-color: #A459A6;
          }
        }
      }

      &.social {
        > div {
          &:first-child {
            background-color: #99C8FF;
          }
          &:last-child {
            background-color: #4D77B7;
          }
        }
      }

      &.ai {
        > div {
          &:first-child {
            background-color: #35CCA6;
          }
          &:last-child {
            background-color: #007659;
          }
        }
      }

    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      //border-bottom: 1px solid #E9E9E9;
      @include is-mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
      }
    }
    &_content {
      padding: 12px 12px 12px 34px;
      position: relative;

      .aiPrizeIcon {
        position: absolute;
        left: 235px;
        top: 17px;
      }
    }
    &_media {
      height: 100%;
      padding: 16px 12px;
    }

    &_footer {
      padding: 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF26;
    }

    &.special {
      background: linear-gradient(90deg, rgba(0, 245, 160, 0.5) 0%, rgba(0, 217, 245, 0.5) 100%),
      linear-gradient(0deg, rgba(250, 78, 14, 0.3), rgba(250, 78, 14, 0.3));

      .container_item_content {
        a {
          color: #FFA888 !important;
        }
      }
    }
  }
}

.modalContent {
  //background: #262626 !important;

  :global {
    .chakra-modal__body {
      //padding-left: rem(24) !important;
      //padding-right: rem(24) !important;
      //padding-bottom: rem(24) !important;
    }
  }
}

