.container {
  position: relative;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #b6b6b6;
  overflow: hidden;
  svg {
    width: 100%;
    height: 100%;
  }

  &__circle {
    border-radius: 100px;
  }
  &__square {
    border-radius: 1px;
  }
  .imgError {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
