.wrapper {
  padding: 80px 0;
}
.inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 141px;
  @include is-pc {
    flex-wrap: nowrap;
  }
}

.social {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;

  justify-content: center;
  @include is-min-table {
    justify-content: flex-start;
  }

  &_icon {
    width: 44px;
    height: 44px;
    @include min-tablet {
      width: 54px;
      height: 54px;
    }
  }
}
