.wrapper {
  width: 100%;
  text-align: center;

  .header {
    width: 100%;
  }

  .heading {
    font-size: 48px;
    line-height: 120%; /* 57.6px */
    margin-bottom: 20px;
  }

  .desc {
    font-size: 24px;
    line-height: 36px; /* 150% */
    margin-bottom: 60px;
  }

  .vesting_table {
    width: 100%;
    position: relative;
    z-index: 1;

    th,
    td {
      color: #000;
      text-align: left;
      white-space: nowrap;
    }

    th {
      color: #000;
      font-size: 18px;
      opacity: 0.7;
      font-weight: 500;
      line-height: 140%; /* 25.2px */
      letter-spacing: 0.18px;
      height: 60px;
      border-right: 1px solid #cecece;
      background: #fa4e0e33;

      padding: 0 32px;

      border-top: 1px solid #cecece;
      &:first-child {
        border-left: 1px solid #cecece;
      }
      &:last-child {
        border-right: 1px solid #cecece;
      }
    }

    td {
      padding: 32px;
      font-size: 20px;
      line-height: 140%; /* 33.6px */
      border-right: 1px solid #cecece;
      border-bottom: 1px solid #cecece;
      border-left: 1px solid #cecece;
    }
  }

  @include is-mobile {
    // overflow-y: scroll;

    .heading {
      font-size: 40px;
      margin-bottom: 12px;
    }
    .desc {
      font-size: 18px;
      margin-bottom: 40px;
      line-height: 140%; /* 25.2px */
    }

    .table_wrapper {
      overflow-y: scroll;

      .vesting_table {
        th {
          font-size: 16px;
          padding: 0 20px;
          padding-right: 28px;
        }
        td {
          font-size: 20px;
          padding: 20px;
          padding-right: 28px;
        }
      }
    }
  }
}
