.footerContainer {
  width: 100%;
  padding: 0;
  background: #000;
  padding: rem(80px) 0;
  color: #fff;

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_logo {
      margin-bottom: rem(28px);
    }

    &_desc {
      font-size: rem(24px);
      line-height: rem(36px);
      margin-bottom: rem(4px);
      text-transform: uppercase;
    }

    &_title {
      font-size: rem(48px);
      line-height: rem(57px);
      margin-bottom: rem(20px);
    }

    &_subTitle {
      color: #FA4E0E;
    }

    &_button {
      display: block;
      width: fit-content;
      padding: rem(10.5px) rem(20px);
      background: #FA4E0E;
      font-size: rem(14px);
      line-height: rem(19.09px);
      color: #fff;
      margin-bottom: rem(20px);

      @include min-ml {
        font-size: rem(16px);
        padding: rem(14.5px) rem(40px);
        margin-bottom: rem(60px);
      }
    }

    &_thumbnail {
      width: 100%;
      height: auto;
      margin-bottom: rem(60px);
    }

    &_bvm {
      display: flex;
      align-items: center;
      gap: rem(16px);
    }
  }
}