.container {
  width: 120px;
  height: 120px;
  background: url("/public-sale/raffleBtnBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  align-items: flex-end;

  transition: all 0.3s;
  position: relative;

  .time {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: -10px;

    p {
      font-size: inherit !important;
      font-weight: inherit !important;
    }
  }

  .showMenu {
    display: block;
  }
}

.menuContent {
  border: 1px solid #FFFFFF26;
  padding: 20px;
  //display: none;
  //position: absolute;
  background: linear-gradient(180deg, #282828 0%, #131313 146.93%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  min-width: 600px;
  border-radius: 0 !important;
  &:focus-visible {
    box-shadow: none !important;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
  }

  .learnMoreWrapper {
    background: #FFFFFF;
    padding: 6px 6px 6px 16px;
    width: fit-content;
    color: #000000;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
  }
}
