.container {
  width: 120px;
  height: 120px;
  background: url("/public-sale/raffleBtnBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  align-items: flex-end;

  transition: all 0.3s;
  position: relative;

  @include is-mobile {
    width: 80px;
    height: 80px;
  }

  .timeWrapper {
    position: absolute;
    bottom: -10px;
  }

  .time {
    //margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    p {
      font-size: inherit !important;
      font-weight: inherit !important;
    }

    @include is-mobile {
      font-size: 14px;
    }
  }
}

.menuContent {
  border: 1px solid #FFFFFF26;
  padding: 20px;
  background: linear-gradient(180deg, #282828 0%, #131313 146.93%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) !important;
  min-width: 600px;
  border-radius: 0 !important;
  &:focus-visible {
    box-shadow: none !important;
  }

  @include is-mobile {
    min-width: 95vw;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
  }

  .learnMoreWrapper {
    background: #FFFFFF;
    padding: 6px 6px 6px 16px;
    width: fit-content;
    color: #000000;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
  }

  .raffleBg {
    background: url("/public-sale/raffle_frame.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8px;

    > img {
      min-width: 140px;
      min-height: 140px;
      max-width: 140px;
      max-height: 140px;
    }
  }

  :global {
    .chakra-popover__body {
      padding: 0;
    }
  }
}
