.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.3s;
  position: relative;
  //padding: 4px;
  //border: 1px solid #ffffff1a;
  //background-color: #ffffff1a;
  cursor: pointer;
  width: 100%;

  .icon {
    width: 40px;
    height: 40px;
    background: url('/public-sale/rbtn.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: flex-end;
  }

  .text_text {
    display: block;
    margin-bottom: 4px;
  }

  .timeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
    //left: 0;
    //right: 0;
    //margin-left: auto;
    //margin-right: auto;
    width: fit-content;
    margin-bottom: 8px;
  }

  .time {
    //margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    p {
      font-size: inherit !important;
      font-weight: inherit !important;
      white-space: pre;
    }

    @include is-mobile {
      font-size: 14px;
    }
  }

  .raffleBgIcon {
    background: url('/public-sale/raffle_frame.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4px;
    align-items: flex-start;
    width: 80px;
    height: 80px;

    > img {
      min-width: 72px;
      min-height: 72px;
      max-width: 72px;
      max-height: 72px;
    }
  }
}

.menuContent {
  border: 1px solid #ffffff26;
  padding: 20px;
  background: linear-gradient(180deg, #282828 0%, #131313 146.93%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) !important;
  min-width: 500px;
  border-radius: 0 !important;

  &:focus-visible {
    box-shadow: none !important;
  }

  @include is-mobile {
    min-width: 85vw;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
    white-space: pre-wrap;
    article {
      display: inline-flex;
      &::before {
        content: '-';
        display: block;
        padding-right: 5px;
      }
    }
  }

  .shareNow {
    background-color: #fa4e0e;
    // align-self: flex-start;
    margin-top: 8px;
    border-radius: 0;
  }

  .yourRaffleCode {
    margin-top: 10px;
    font-size: 14px;

    > div {
      padding: 8px 16px;

      &:first-child {
        color: #ffffff;
        background: #ffffff12;
      }

      &:last-child {
        color: #000000;
        background: #ffffff;
      }
    }
  }

  .raffleBg {
    background: url('/public-sale/raffle_frame.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8px;
    align-items: flex-start;
    width: 156px;
    height: 156px;

    > img {
      min-width: 140px;
      min-height: 140px;
      max-width: 140px;
      max-height: 140px;
    }
  }

  :global {
    .chakra-popover__body {
      padding: 0;
    }
  }
}
.flexContainer {
  gap: 10px;
}

.learnMoreWrapper {
  background: #ffffff;
  padding: 4px 12px 4px 4px;
  color: #000000;
  font-size: 14px;
  align-items: center;
  //justify-content: center;
  height: 32px;
  gap: 8px;
  width: 100%;

  &.isDisable {
    opacity: 70%;
    cursor: not-allowed;
  }
}
