.canvas {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  // opacity: 0.7;
  opacity: 1;
}

.Modal {
  padding: 0;

  :global(.chakra-modal__body) {
    padding: 0 !important;
  }

  :global(.modal-header-wrap) {
    display: none !important;
  }
}
