.container {
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.resetButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.wrapRight {
  position: relative;
  height: var(--wrapHeight);

  &_inner {
    height: var(--wrapHeight);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #e0e0e0;
    }
  }
}
