.list {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  column-gap: 60px;
  row-gap: 60px;
  margin: 30px 0 60px 0;
}

.btn {
  background-color: #ff813b;
  border-radius: 50px;
  font-size: 18px;
  width: fit-content;
  line-height: calc(28 / 18);
  padding: 8px 20px;
  margin: 0 auto 50px auto;
  cursor: pointer;
  font-family: var(--font-jetbrains);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #f38145;
    transition: all 0.3s ease-in-out;
  }
}
