.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  &_inner {
    &_content {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }
  }
}

.drag {
  width: 310px;
  display: flex;
  position: relative;
  margin-top: 16px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.20);
  font-size: 0;
  line-height: 0;
  padding: 4px;

  svg, img {
    -webkit-user-drag: none;
    user-select: none;
    user-focus: none;
    pointer-events: none;
  }

  &_inner {
    position: absolute;
    z-index: 3;
    width: calc(100% - 62px);
  }

  &_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  &_gradient {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    --bg: 0%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) var(--bg), rgba(171, 171, 171, 0) 100%);
  }
}


.mood {
  flex: 0 0 auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
}
