.landing {
  background-color: #fff;
}

.bottom {
  //margin-top: 80px;
  @include is-min-table {
     padding-top: 80px;
     padding-bottom: 80px;
  }
  &_top {
    text-align: center;
    &_heading {
      font-size: 40px;
      font-weight: 500;
      line-height: calc(52 / 40);
      font-family: var(--font-jetbrains);
      color: #000;
    }
    &_desc {
      font-size: 18px;
      line-height: calc(27 / 18);
      color: #5D6875;
      max-width: 800px;
      margin: 12px auto 32px auto;
    }
  }
}

.wrapperBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .btn {
    width: 240px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
  }
}

.btn__primary {
  background-color: #FA4E0E;
  color: #fff;

}

.btn__secondary {
  border: 1px solid #000000;
  color: #000;
}
