.wrapperSection {
  background-color: #000;
  overflow: hidden;

  @include is-pc {
    // height: 100vh;
  }

  .container {
    width: 100%;
    .wrapperContent {
      padding-top: 80px;
      padding-bottom: 85px;
      @include is-pc {
        padding-top: 160px;
        padding-bottom: 171px;
      }
      .title {
        width: 100%;

        @include is-pc {
          max-width: 800px;
        }
      }
      .wrapperBtn {
        margin-top: 34px;
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
        //height: 54px;

        @include is-pc {
          justify-content: flex-start;
          margin-top: 68px;
        }
        .btn {
          // text-transform: uppercase;
          padding: 12px 20px;
          @include is-mobile {
            width: 100%;
            max-width: 160px;
          }
        }
      }
    }
  }
}
.title {
  //max-width: 714px;
  margin-bottom: 68px;
  font-family: 'Urbanist';
  font-size: 36px;
  line-height: 1.1;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  span {
    opacity: 0.6;
  }

  &.black {
    color: #000;
  }

  @include is-pc {
    font-size: 68px;
    text-align: left;
  }
}
