.cateWrapper {
  background-color: #ffffff;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 0;

  gap: 40px;

  > div > div {
    align-items: flex-start;
  }

  @include min-md {
    padding: 40px 0;
  }

  @include min-ml {
    padding-top: 24px;
    gap: 24px;
  }
}
