.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  padding: 20px 12px;
  //border: 1px solid #cecece;
  border-radius: 8px;
  gap: 12px;
  box-shadow: 0px 0px 24px -6px #0000000A;

  &_disable {
    opacity: 0.5;
    pointer-events: none;
  }

  .tooltipIcon {
    width: 16px;
    cursor: pointer;
    //opacity: 0.7;
    //filter: invert(1);
  }

  .index {
    font-size: 14px;
    font-weight: 700;
    //margin-top: 4px;
    background: #6E16FE26;
    color: #6E16FE;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 100px;
  }

  .shareTw {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    gap: 20px;
    width: 100%;

    @include w-max(768px) {
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      //margin-bottom: 5px;
    }

    .desc {
      font-size: 14px;
      font-weight: 500;
      margin-top: 10px;
      color: rgba(1, 1, 1, 0.7);
    }

    .btnBuy {
      color: #6E16FE;
      border: 1px solid #6E16FE;
      background-color: #FFF;
      width: 150px;

      @include w-max(767px) {
        width: 100%;
      }
    }

    .btnShare {
      min-width: 140px;
      background: #6E16FE;
      padding: 12px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;

      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      width: 100%;
      text-transform: uppercase;

      &.btnSecondary {
        background: white;
        color: black;
        border: 1px solid black;
      }

      &.btnLink {
        background: unset !important;
        color: #6E16FE !important;
        padding: 0 !important;
        height: unset !important;
        justify-content: flex-end;
      }
    }
  }

  .descContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 12px;

    @include w-max(768px) {
      flex-direction: column;
      gap: 4px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      opacity: 0.7;

      span {
        color: #ba98ff;
        cursor: pointer;
      }
    }
  }

  :global {
    .item-social {
      cursor: pointer;
      align-items: center;
      /* gap: 5px; */
      /* background-color: rgb(243, 244, 246);
      border-radius: 4px;
      padding: 4px 8px; */
      width: 32px;
      height: 32px;
      background: #FFFFFF;
      box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.08);
      border-radius: 100px;

      p {
        margin-bottom: 0px;
        font-size: 14px;
      }
    }
  }
}

.modalContent {
  :global {
    border-radius: 0px !important;
    .chakra-modal__body {
      padding-left: rem(24) !important;
      padding-right: rem(24) !important;
      padding-bottom: rem(24) !important;
    }
  }
}
