.inputForm {
  border: 1px solid #e5e7eb;
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;

  input {
    margin-top: 12px;
    color: #000;
    font-weight: 500;
    font-size: 24px;
  }
}
