.heroLabel {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include is-tablet {
    margin: 0 auto;
  }
  &_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    @include is-mobile {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }

    @include is-tablet {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }
    &_text {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      color: #fff;

      @include is-mobile {
        color: #000;
        font-size: 16px;
        line-height: 24px;
      }
      @include is-tablet {
        color: #000;
      }
    }
  }
  &_listHero {
    display: flex;
    flex-direction: row;
    gap: 4px;

    @include is-mobile {
      flex-wrap: wrap;
      gap: 17.5px;
      align-items: center;
    }

    @include is-tablet {
      flex-wrap: wrap;
      gap: 17.5px;
      align-items: center;
    }
  }
}
