.heroLabel {

  padding-top: 48px;
  padding-bottom: 48px;

  @include is-pc {
    padding-top: 0;
    padding-bottom: 0;
  }

  .inner{
    display: flex;
    gap: 12px;
    flex-direction: column;
    @include is-min-table{
      //justify-content: space-between;
      //align-items: center;
    }

    @include is-mobile{
      flex-direction: column;
    }
  }


  &_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    @include is-mobile {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }

    @include is-tablet {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }

    &_text {
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      color: #fff;

      @include is-mobile {
        color: #000;
        font-size: 16px;
        line-height: 24px;
      }
      @include is-tablet {
        color: #000;
      }
    }
  }

  &_listHero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    @include is-mobile {
      justify-content: center;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include is-mobile {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }
  }
}
