.inner {
  display: flex;
  border-radius: 20px;
  background: white;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  @include is-pc {
    flex-wrap: nowrap;
  }

  &_img {
    max-width: 120px;
    margin: 24px auto;

    @include is-min-table{
      margin: 24px 0;
    }

    img {
      width: 100%;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.thumbnail {
  max-width: 753px;
  position: relative;
  aspect-ratio: 16/9;
  object-fit: contain;
  //margin-left: auto;
  //margin-right: auto;
  width: 100%;
  cursor: pointer;
  border-radius: 24px;
  overflow: hidden;

  &.isScrolling {
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-out;

    &.active {
      pointer-events: auto;
      opacity: 1 !important;
    }
  }

  &_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    pointer-events: none;
    z-index: 2;

    img {
      width: 100%;
    }
  }

  &_bg {
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;

    > img, video {
      opacity: .8;
      height: 100% !important;
      width: 100% !important;
      object-fit: cover !important;
      max-height: unset;
      max-width: unset;
      cursor: pointer;
    }
  }

  video {
    width: 100% !important;
    object-fit: contain;
    overflow: hidden;
  }
}

.imagePreload {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  pointer-events: none;

}

.tag {
  background: #FA4E0E0D;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  color: #FA4E0E;
  font-weight: 600;
  text-transform: uppercase;
  line-height: calc(21.6 / 18);

  margin-left: auto;
  margin-right: auto;

  @include is-min-table{
    margin-left: unset;
    margin-right: unset;
  }
}

.caseStudy {
  margin-bottom: 24px;
  max-width: 567px;
  width: 100%;

  &_title {
    font-size: 32px;
    font-weight: 500;
    line-height: calc(38.4 / 32);
    color: #000;
    font-family: var(--font-jetbrains);
    text-transform: uppercase;
    margin-bottom: 12px;
    text-align: center;

    @include is-min-table{
      text-align: left;
    }
  }

  &_description {
    font-size: 20px;
    font-weight: 400;
    line-height: calc(24 / 18);
    color: #000000B2;
    text-align: center;

    span{
      display: inline-block;
    }

    @include is-min-table{
      text-align: left;
    }
  }

  &_button {
    background-color: #FA4E0E;
    color: #fff;
    border-radius: 1000px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;

    @include is-min-table{
      margin-left: unset;
      margin-right: unset;
    }
    a {
      line-height: 1;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 153px;
    }
  }
}
