.inner {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_img {
    max-width: 120px;
    margin: 24px 0;

    img {
      width: 100%;
    }
  }
}

.tag {
  background: #FA4E0E0D;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  color: #FA4E0E;
  font-weight: 600;
  text-transform: uppercase;
  line-height: calc(21.6 / 18);
}

.caseStudy {
  margin-bottom: 24px;
  text-align: center;

  &_title {
    font-size: 32px;
    font-weight: 500;
    line-height: calc(38.4 / 32);
    color: #000;
    font-family: var(--font-jetbrains);
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &_description {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: calc(24 / 18);
    color: #000000B2;
  }

  &_button {
    background-color: #FA4E0E;
    color: #fff;
    border-radius: 1000px;
    font-size: 18px;

    a {
      line-height: 1;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 153px;
    }
  }
}
