.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 27px 16px 16px;
  width: 100%;
  --wrapHeight: calc(100dvh - 104px);
  min-height: var(--wrapHeight); // 104px header and 28px padding
  display: flex;

  > * {
    font-family: var(--font-SFProDisplay);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #101010;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex: 1;
    display: grid;
    grid-template-columns: 526px 1fr 210px;
    gap: 8px;

    &__droppable {
      background-color: #ffffff;
      border-radius: 12px;
      border: 1px solid #e0e0e0;

    }

    &__sidebar {
      padding: 8px;
      height: 100%;
      background-color: #ffffff;
      border-radius: 12px;
      border: 1px solid #e0e0e0;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__header {
        display: flex;
        flex-direction: column;
        gap: 12px;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          div {
            &:first-child {
              display: flex;
              align-items: center;
              gap: 8px;
            }

            &:last-child {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              background: #00aa6c;
            }
          }
        }
      }

      &__footer {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          width: 100%;
        }
      }
    }
  }
}
