.wrapper {
  width: 100%;
  background-color: #fff;
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 48px;
  padding-bottom: 24px;

  @include is-mobile {
    padding: 20px;
  }
  &_wrapBtns {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;

    @include is-tablet {
      width: 80%;
      flex-direction: row;
    }
    @include is-pc {
      padding-top: 24px;
      flex-direction: row;
      width: auto;
    }
  }
  &_btn {
    color: #fff;
    text-align: center;
    font-family: var(--font-dmsans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    @include is-mobile {
      font-size: 14px;
    }

    @include is-pc {
      width: auto;
    }
  }
  &_contract {
    font-family: var(--font-dmsans);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
    color: #fff;
    padding-top: 16px;

    @include is-pc {
      padding-top: 24px;
    }
    span {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &_video {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 32px;

    @include is-pc {
      margin: 0;
      width: 224px;
      height: 120px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &_line {
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 1px;
  }
}
.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 24px;
  @include is-pc {
    padding-bottom: 40px;
  }

  &_top {
    font-family: var(--font-dmsans);
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    @include is-pc {
      flex-direction: row;
    }

    .mainContent {
      color: #fff;
      font-family: var(--font-dmsans);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 38.4px */
      text-align: center;

      @include is-pc {
        text-align: left;
        font-size: 32px;
      }
    }
  }
}

.mainBtn {
  background-color: #fa4e0e;
  color: #fff;

  @include is-mobile {
    display: none;
  }
}

.normalBtn {
  background-color: #fff;

  @include is-mobile {
    background-color: #fa4e0e;
    color: #fff;
  }
}

.dropMenu {
  position: relative;
  color: white;
  width: 100%;
  display: flex;
  height: 44px;
  padding: 16px 32px;
  justify-content: center;
  background-color: #fa4e0e;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s var(--easeOutQuart);
  &:hover {
    background-color: #fff;

    p {
      transition: all 0.3s var(--easeOutQuart);
      color: #fa4e0e;
    }
  }
  @include is-mobile {
    max-width: 400px;
  }
  @include is-pc {
    width: auto;
  }

  &_label {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;

    &.black {
      color: black;

      svg path {
        stroke: black !important;
      }
    }

    img,
    svg {
      transform: translateY(0.05em);
    }
  }

  &:hover {
    .dropMenu_list {
      opacity: 1;
      visibility: visible;
      z-index: 2 !important;
    }
  }

  &_list {
    opacity: 0;
    width: 240px;
    background: #f7f7f7;
    position: absolute;
    bottom: 40px;
    list-style: none;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    visibility: hidden;
    border-radius: 8px;
    right: 0;
    @include is-pc {
      right: -100%;
    }
    @include is-mobile {
      bottom: 48px;
      right: 0;
    }
  }
}

.listItem {
  a {
    color: #000000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    font-family: var(--font-dmsans);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    svg * {
      transition: fill 0.4s var(--easeOutQuart);
    }

    &:hover {
      rect {
        fill: #fa4e0e;
      }

      path {
        fill: white;
      }
    }
  }

  &_svg {
    border-radius: 999px;
  }
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding-top: 20px;
  &_item {
    color: #fff;
    font-family: var(--font-dmsans);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
  }
}
