.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: linear-gradient(360deg, #00789F 0%, #32009B 14.56%, #7500D2 44.15%, #DA00DE 84.23%, #FEDEC0 100%);
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'SF Pro Display', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background: linear-gradient(360deg, #005F7F 0%, #26007B 14.56%, #5E00A8 44.15%, #AE00B2 84.23%, #CBB299 100%);
  }

  svg {
    margin-left: 8px;
  }
}
