.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .image {
    max-width: 100%;
    width: 100%;
    height: auto;

    @include is-pc {
      max-width: 600px;

    }
  }

  .wrapperContent {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include is-pc {
      gap: 60px;
    }
  }

  @include is-pc {
    flex-direction: row;
    gap: 120px;
  }
}