.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include is-pc {
    flex-direction: row;
    gap: 120px;
  }
  .image {
    //max-width: 100%;
    width: 100%;
    height: auto;
    @include is-pc {
      max-width: 800px;

    }
  }

  .wrapperContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    @include is-pc {
      gap: 60px;
    }
  }


}
